{{extend 'layout.html'}}

<div class="container bg-0">
    <h1 class="text-center">Buscar</h1>
    <br /><br />
    <div align="center">
        <!-- Navegador de busqueda -->
        <form action="" method="POST">
            <!-- Campo de busqueda-->
            <input class="bg-default" type="text" placeholder="Buscar..." name="buscar" style="font-size:14px;background-color:rgb(235,235,235);height:50px;width:auto;">
            <!-- Boton de enviar en color azul -->
            <input type="submit" class="bg-primary" style="font-size:14px;height:50px;width:auto;" value="Enviar" class="bg-1">
        </form>
    </div>
    <br /><br />
    {{if len(tabla)>0:}}
	<div class="panel panel-primary"> <!-- Permite la portabilidad de la tabla en dispositivos pequeños -->
		<table class="table table-bordered table-striped">
			<tr valign="center" align="center" class="bg-primary">
		        <td class="text-center bg-primary">CARNET</td>
			    <td class="text-center bg-primary">CÉDULA</td>
			    <td class="text-center bg-primary">NOMBRE</td>
			    <td class="text-center bg-primary">APELLIDOS</td>
			    <td class="text-center bg-primary">PERFIL</td>
			</tr>
			{{for i,row in enumerate(tabla):}}
			{{if i==bombero_por_pagina: break}}
			<tr valign="center" align="center">
			    <td>{{=row.bombero.carnet}}</td>
			    <td>{{=row.persona.nacionalidad}}-{{=row.persona.cedula}}</td>
			    {{if row.persona.segundo_nombre != None:}}
	            <td>{{=row.persona.primer_nombre}} {{=row.persona.segundo_nombre}}</td>
	            {{else:}}
	            <td>{{=row.persona.primer_nombre}}</td>
	            {{pass}}
	            {{if row.persona.segundo_apellido != None:}}
	            <td>{{=row.persona.primer_apellido}} {{=row.persona.segundo_apellido}}</td>
	            {{else:}}
	            <td>{{=row.persona.primer_apellido}}</td>
	            {{pass}}
			    <td><a href="{{=URL('default','perfilth',args=[str(row.bombero.id)])}}">Ver perfil</a></td>
			</tr>
			{{pass}}
			{{pass}}
		</table>
	</div> 
	<div align="center">   
		<ul class="pagination">
			<li ><a href="{{=URL('default','buscarth',args=[pagina-1])}}">&laquo;</a></li>
			{{for j in range(0,tam_total):}}
			<li><a href="{{=URL('default','buscarth',args=[j])}}"> {{=(j+1)}} </a></li>
			{{pass}}
			<li><a href="{{=URL('default','buscarth',args=[pagina+1])}}">&raquo;</a></li>
		</ul>
	</div>
</div>
