{{extend 'layout.html'}}
<h1>This is the buscarth.html template</h1>
{{=BEAUTIFY(response._vars)}}

<div class="container bg-0">
    <br /><br /><br /><br /><br /><br />
    <b><div class="col-xs-4 text-center" style="font-size:24px;">Búsqueda</div></b>
    <br /><br /><br />
        <div align="center">
             <!-- Navegador de busqueda -->
            <form class="navbar-form navbar-center" role="search">
              <div class="form-group">
                  <!-- Campo de Busqueda-->
                <input type="text" placeholder=" Buscar..." style="background-color:rgb(235,235,235);height:50px;width:auto">
              </div>
                <!-- Boton de enviar en color azul -->
                <button type="submit" class="btn btn-default bg-1" style="height:50px;width:auto;">
                    <a href="../default/buscarres.html" style="color:white;">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </button>
            </form>
        </div>
    <br /><br /><br /><br /><br /><br />
</div>
