{{extend 'layout.html'}}

<div class="container bg-0">
    <h1 class="text-center">Eliminar usuarios</h1>
    <br /><br />
	<div class="table-responsive"> <!-- Permite la portabilidad de la tabla en dispositivos pequeños -->
		<table class="table table-bordered table-hover">
			<tr valign="center" align="center">
		        <th class="text-center">Carnet</th>
			    <th class="text-center">Cédula</th>
			    <th class="text-center">Nombre</th>
			    <th class="text-center">Apellido</th>
			    <th class="text-center"></th>
			</tr>
			{{for row in tabla:}}
			<tr valign="center" align="center">
			    <td>{{=row.bombero.carnet}}</td>
			    <td>{{=row.persona.cedula}}</td>
	            <td>{{=row.persona.primer_nombre}} {{=row.persona.segundo_nombre}}</td>
	            <td>{{=row.persona.primer_apellido}} {{=row.persona.segundo_apellido}}</td>
			    <td><a href="#">Eliminar</a></td>
			</tr>
			{{pass}}
		</table>
	</div>      
</div>
