{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<!-- Accesos directos para el usuario  -->
<div class="container bg-0">
    <br /><br /><br /><br /><br /><br />
    <div class="row">
        <div class="box">
            <div class="text-center">
                <div class="col-xs-6">
                    <a href="{{=URL('services','index')}}" class="thumbnail" style="background-color:white;">
                        <h3>
                          SERVICIOS
                          <br /><br />
                          <p><span style="font-size:5em;" class="glyphicon glyphicon-fire">
                          <br />
                        </h3>
                    </a>
                    <a href="{{=URL('default','perfilth')}}" class="thumbnail" style="background-color:white;">
                        <h3>
                          PERFIL
                          <br /><br />
                          <p><span style="font-size:5em;" class="glyphicon glyphicon-user">
                          <br />
                       </h3>
                   </a>
                </div>
                <div class="col-xs-6">
                    <a class="twitter-timeline" data-lang="es" data-width="300" data-height="450" href="https://twitter.com/BomberosUSB">Tweets by BomberosUSB</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?"http":"https";if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
               </div>
            </div>
        </div>
      </div>
    </div>
  <br /><br /><br /><br /><br /><br />
</div>
