{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layoutno.html'}}

<!-- Accesos directos para el usuario  -->
<div class="container bg-0">
    <!-- Inicio de sesion -->
    <div class="row">
        <div class="col-xs-6 text-center">
            <a href="#" class="thumbnail text-center">
                <div class="wrapper">
                    <form action="" method="post" name="Login_Form" class="form-signin">
                        <h3 class="form-signin-heading text-center">INICIAR SESIÓN</h3>
                        <input type="text" class="form-control" name="Username" placeholder="USERNAME" required="" autofocus=""/>
                        <input type="password" class="form-control" name="Password" placeholder="PASSWORD" required=""/>
                        <br />
                        <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">LOGIN</button>
                    </form>
                </div>
            </a>
        </div>
        <div class="col-xs-6 text-center">
            <!-- Twitter de Bomberos -->
            <a class="twitter-timeline" data-lang="es" data-width="300" data-height="450" href="https://twitter.com/BomberosUSB">Tweets by BomberosUSB</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?"http":"https";if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>
