{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<!-- Accesos directos para el usuario  -->
<div class="container-fluid">
    <div class="box">
      <div class="text-center selectOption">
        <div class="col-xs-12 col-sm-3 col-sm-offset-3">
          <a href="{{=URL('services','index')}}" class="selectOption">
            <h3>SERVICIOS<br /><br />
              <span style="font-size:5em;" class="glyphicon glyphicon-fire"></span>
              <br />
            </h3>
          </a>
        </div>
        <div class="col-xs-12 col-sm-3" style="margin-left: 40px;">
          <a href="{{=URL('th','perfilth')}}" class="selectOption">
            <h3>
              PERFIL<br /><br />
              <span style="font-size:5em;" class="glyphicon glyphicon-user"></span>
              <br />
           </h3>
          </a>
        </div>
      </div>
    </div>
</div>
