{{extend 'layout.html'}}
<h1>This is the perfilth.html template</h1>
{{=BEAUTIFY(response._vars)}}

<div class="container" style="font-family:roboto;">
    <br /><br /><br /><br /><br /><br />
    <div class="row">
        <!-- Foto -->
        <div class="col-xs-4">
            <div class="box">
                <!-- Sacar imagen de BD -->
                <img src="{{=URL('static','images/apolo.png')}}" width="200px" height="200px">
            </div>
        </div>
        <!-- Nombre del usuario -->
        <b> <div class="col-xs-4 text-center" style="font-size:20px;"> Apolo </div> </b>
    </div>
    <br />
    <br />
    <br />
    <!-- Datos -->
    <div class="row">
        <b>
        <div class="col-xs-8 text-left" style="font-size:20px;">Datos Básicos</div>
        <div class="col-xs-4 text-left" style="font-size:20px;">Datos de Contacto</div>
        </b>
    </div>
    <div class="row">
        <b><div class="col-xs-3 text-left" style="font-size:12px;">Cédula: </div></b>
        <div class="col-xs-3 text-left" style="font-size:12px;">23466895</div>
        <b><div class="col-xs-3 text-left" style="font-size:12px;">Celular: </div></b>
        <div class="col-xs-3 text-left" style="font-size:12px;">0426-5550044</div>
        <b><div class="col-xs-3 text-left" style="font-size:12px;">Fecha de Nacimiento: </div></b>
        <div class="col-xs-3 text-left" style="font-size:12px;">01/12/1994</div>
        <b><div class="col-xs-3 text-left" style="font-size:12px;">Casa: </div></b>
        <div class="col-xs-3 text-left" style="font-size:12px;">0212-9093909</div>
        <b><div class="col-xs-3 text-left" style="font-size:12px;">Sexo: </div></b>
        <div class="col-xs-3 text-left" style="font-size:12px;">M</div>
        <b><div class="col-xs-3 text-left" style="font-size:12px;">Trabajo: </div></b>
        <div class="col-xs-3 text-left" style="font-size:12px;">0212-9876543</div>
        <b><div class="col-xs-3 text-left" style="font-size:12px;">Tipo de Sangre: </div></b>
        <div class="col-xs-3 text-left" style="font-size:12px;">Factor O Rh -</div>
        <b><div class="col-xs-3 text-left" style="font-size:12px;">Email: </div></b>
        <div class="col-xs-3 text-left" style="font-size:12px;">correo@gmail.com</div>
        <b><div class="col-xs-3 text-left" style="font-size:12px;">Hijos: </div></b>
        <div class="col-xs-3 text-left" style="font-size:12px;">20</div>
    </div>
    <br /><br /><br />
    <!-- Condicion -->
    <b> <div class="¿text-left" style="font-size:20px;"> Condición </div> </b>
    <div class="¿text-left" style="font-size:12px;"> No hay información de la condición actual. </div>
    <br /><br /><br />
    <!-- Vacaciones -->
    <b> <div class="¿text-left" style="font-size:20px;"> Días de Permiso </div> </b>
    <div class="¿text-left" style="font-size:12px;"> Actualmente no tiene días de permiso. </div>
    <br /><br /><br />
    <!-- Ascenso -->
    <b> <div class="text-left" style="font-size:20px;"> Ascenso </div> </b>
    <div class="row">
        <b> <div class="col-xs-3 text-left" style="font-size:12px;"> Rango actual: </div> </b>
        <div class="col-xs-3 text-left" style="font-size:12px;"> Bombero </div>
        <b> <div class="col-xs-3 text-left" style="font-size:12px;"> Fecha de ascenso al rango actual: </div> </b>
        <div class="col-xs-3 text-left" style="font-size:12px;"> 2015 </div>
        <b> <div class="col-xs-3 text-left" style="font-size:12px;"> Rango anterior: </div> </b>
        <div class="col-xs-3 text-left" style="font-size:12px;"> Rojo </div>
        <b> <div class="col-xs-3 text-left" style="font-size:12px;"> Fecha de ascenso al rango anterior: </div> </b>
        <div class="col-xs-3 text-left" style="font-size:12px;"> 2010 </div>
        <b> <div class="col-xs-3 text-left" style="font-size:12px;"> Puntaje: </div> </b>
        <div class="col-xs-3 text-left" style="font-size:12px;"> 199 </div>
    </div>
    <a href="#">Ver más</a>
    <br /><br /><br />
    <!-- Premiaciones -->
    <b> <div class="¿text-left" style="font-size:20px;"> Premiaciones </div> </b>
    <a href="#">Ver más</a>
    <br /><br /><br />
    <!-- Cursos -->
    <b> <div class="¿text-center" style="font-size:20px;"> Cursos </div> </b>
    <a href="#">Ver más</a>
    <br /><br /><br />
    <b> <div class="¿text-center" style="font-size:20px;"> Opciones de Administrador </div> </b>
    <a href="../default/registrousrth.html">Registrar nuevo usuario</a>
    <br /><br /><br /><br /><br /><br />
</div>
