{{extend 'layout.html'}}
{{=BEAUTIFY(response._vars)}}

<div class="container bg-0">
    <div class="row">
        <!-- Foto del usuario-->
        <div class="col-xs-12 col-sm-6 text-center">
            <!-- Sacar imagen de BD -->
            <img src="{{=URL('static','images/apolo.png')}}" width="200px" height="200px">
        </div>
        <div class="col-xs-12 col-sm-6">
            <!-- Nombre del usuario -->
            <h1 class="text-left"> Apolo </h1>
            <div><span>SuperUser | <span class="text-danger">Retirado</span></span></div>
            <div>Días de permiso restantes: <span class="text-warning">3</span></div>
        </div>
    </div>


    <h2>Información</h2>
    <!-- Datos -->
    <div class="row">
        <div class="col-xs-12 col-sm-6">
        <div class="table-responsive">
            <h3>Datos Básicos</h3>
            <table class="table table-condensed">
              <tr>
                <td>Cédula:</td>
                <td>23.343.233</td>
              </tr>
              <tr>
                <td>F. Nacimiento:</td>
                <td>01/12/1994</td>
              </tr>
              <tr>
                <td>Sexo:</td>
                <td>Femenino</td>
              </tr>
              <tr>
                <td>Sangre:</td>
                <td>O Rh-</td>
              </tr>
              <tr>
                <td>Hijos:</td>
                <td>9</td>
              </tr>
            </table>
        </div></div>
        
        <div class="col-xs-12 col-sm-6">
        <div class="table-responsive">
            <h3>Contacto</h3>
            <table class="table table-condensed">
              <tr>
                <td>Celular:</td>
                <td><a href="tel:+584244324323">0424-4324323</a></td>
              </tr>
              <tr>
                <td>Casa:</td>
                <td><a href="tel:+582124324323">0212-4324323</a></td>
              </tr>
              <tr>
                <td>Trabajo:</td>
                <td><a href="tel:+582124324323">0212-4324323</a></td>
              </tr>
              <tr>
                <td>Email:</td>
                <td><a href="mailto:lilpuppy@greeks.com">lilpuppy@greeks.com</a></td>
              </tr>
            </table>
        </div></div>
    </div>

    <div class="row">
        <!-- Ascenso -->
        <div class="col-xs-12 col-sm-6">
        <div class="table-responsive">
            <h3>Ascensos</h3>
            <table class="table table-condensed">
              <tr>
                <td>Jefe Supremo:</td>
                <td>12 Febrero 2015</td>
              </tr>
              <tr>
                <td>Campitán:</td>
                <td>12 Enero 2014</td>
              </tr>
              <tr>
                <td>Teniente:</td>
                <td>03 Noviembre 2013</td>
              </tr>
              <tr>
                <td>Bombero:</td>
                <td>25 Febrero 2010</td>
              </tr>
            </table>
        </div></div>

        <!-- Premiaciones -->
        <div class="col-xs-12 col-sm-6">
        <div class="table-responsive">
            <h3>Premiaciones</h3>
            <table class="table table-condensed">
              <tr>
                <td>Mejor Bombero:</td>
                <td>12 Febrero 2015</td>
              </tr>
              <tr>
                <td>Best buddy:</td>
                <td>12 Enero 2014</td>
              </tr>
              <tr>
                <td>Garritas de Acero:</td>
                <td>03 Noviembre 2013</td>
              </tr>
              <tr>
                <td>Manchado de oro:</td>
                <td>25 Febrero 2010</td>
              </tr>
            </table>
            <a href="#">Ver más</a>
        </div></div>
    </div>


    <div class="table-responsive">
        <h3>Actividades</h3>
        <table class="table table-condensed">
          <tr>
            <td>Artes marciales I</td>
            <td>Combate</td>
            <td>12/02/2003</td>
          </tr>
          <tr>
            <td>Matpel XI</td>
            <td>Matpel</td>
            <td>12/02/2005</td>
          </tr>
        </table>
        <a href="#">Ver más</a>
    </div>
    
</div>
