{{extend 'layout.html'}}

<div class="container bg-0">
    <div class="row">
        <!-- Foto del usuario-->
        <div class="col-xs-4">
            <div class="box" align="center">
                <!-- Sacar imagen de BD -->
                <img src="{{=URL('static','images/Apolo.jpg')}}" width="200px" height="200px">
            </div>
        </div>
        <div class="col-xs-8" style="line-height:10px;">
            <!-- Nombre del usuario -->
            <h1 align="left" style="font-size:36px;">{{=usuario[0].persona.primer_nombre}} {{=usuario[0].persona.segundo_nombre}} {{=usuario[0].persona.primer_apellido}} {{=usuario[0].persona.segundo_apellido}}</h1>
            <br />
            <div class="row">
                <p class="col-xs-3 text-right" style="font-size:18px;">Rango: </p>
                <p class="col-xs-3 text-left" style="font-size:18px;">Bombero</p>
            </div>
            <div class="row">
                <p class="col-xs-3 text-right" style="font-size:18px;">Cargo: </p>
                <p class="col-xs-3 text-left" style="font-size:18px;">SuperUser</p>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <!-- Datos -->
    <h1 align="left" style="font-size:30px;">Datos Básicos</h1>
    <div class="row" style="line-height:15px;">
        <div class="col-xs-12">
            <p class="col-xs-4 text-left" style="font-size:18px;">Cédula: </p>
            <p class="col-xs-4 text-left" style="font-size:18px;">{{=usuario[0].persona.cedula}}</p>
        </div>
        <div class="col-xs-12">
            <p class="col-xs-4 text-left" style="font-size:18px;">Fecha de Nacimiento:</p>
            <p class="col-xs-4 text-left" style="font-size:18px;">{{=usuario[0].persona.fecha_nacimiento.strftime("%d/%m/%Y")}}</p>
        </div>
        <div class="col-xs-12">
            <p class="col-xs-4 text-left" style="font-size:18px;">Sexo:</p>
            <p class="col-xs-4 text-left" style="font-size:18px;">{{=usuario[0].persona.genero}}</p>
        </div>
        <div class="col-xs-12">
            <p class="col-xs-4 text-left" style="font-size:18px;">Tipo de Sangre:</p>
            <p class="col-xs-4 text-left" style="font-size:18px;">{{=usuario[0].bombero.tipo_sangre}}</p>
        </div>
        <div class="col-xs-12">
            <p class="col-xs-4 text-left" style="font-size:18px;">Hijos:</p>
            <p class="col-xs-4 text-left" style="font-size:18px;">{{=usuario[0].bombero.hijos}}</p>
        </div>
    </div>
    <br /><br /><br />
    <h1 align="left" style="font-size:30px;">Datos de Contacto</h1>
    <div class="row" style="line-height:15px;">
        <!-- Iterar sobre los numeros -->
        <div class="col-xs-12">
            <p class="col-xs-4 text-left" style="font-size:18px;">Celular: </p>
            <p class="col-xs-4 text-left" style="font-size:18px;">0418-5550044</p>
        </div>
        <div class="col-xs-12">
            <p class="col-xs-4 text-left" style="font-size:18px;">Casa: </p>
            <p class="col-xs-4 text-left" style="font-size:18px;">0212-9093909</p>
        </div>
            <div class="col-xs-12">
            <p class="col-xs-4 text-left" style="font-size:18px;">Trabajo: </p>
            <p class="col-xs-4 text-left" style="font-size:18px;">0212-9876543</p>
        </div>
        <div class="col-xs-12">
            <p class="col-xs-4 text-left" style="font-size:18px;">Email: </p>
            <p class="col-xs-4 text-left" style="font-size:18px;">{{=usuario[0].persona.email_principal}}</p>
        </div>
        <div class="col-xs-12"> 
            <p class="col-xs-4 text-left" style="font-size:18px;">Email alternativo: </p>
            {{if (usuario[0].persona.email_alternativo) != None:}}
            <p class="col-xs-4 text-left" style="font-size:18px;">
                    {{=usuario[0].persona.email_alternativo}}
            </p>
            {{else:}}
            <p class="col-xs-4 text-left" style="font-size:18px;">-</p>
            {{pass}}
        </div>
    </div>
    <br /><br /><br />
    <!-- Condicion -->
     <h1 align="left" style="font-size:30px;">Condición</h1> 
    <p class="col-xs-12 text-left" style="font-size:18px;">No hay información de la condición actual. </p>
    <br /><br /><br />
    <!-- Vacaciones -->
     <h1 align="left" style="font-size:30px;">Días de Permiso</h1> 
    <p class="col-xs-12 text-left" style="font-size:18px;">Actualmente no está en días de permiso. </p>
    <br /><br /><br />
    <!-- Ascenso -->
     <h1 align="left" style="font-size:30px;">Ascenso</h1> 
    <div class="row" style="line-height:15px;">
        <div class="col-xs-12">
             <p class="col-xs-5 text-left" style="font-size:18px;">Rango actual: </p> 
            <p class="col-xs-4 text-left" style="font-size:18px;">Bombero </p>
        </div>
        <div class="col-xs-12">
             <p class="col-xs-5 text-left" style="font-size:18px;">Fecha de ascenso al rango actual: </p> 
            <p class="col-xs-4 text-left" style="font-size:18px;">2015 </p>
        </div>
        <div class="col-xs-12">
             <p class="col-xs-5 text-left" style="font-size:18px;">Rango anterior: </p> 
            <p class="col-xs-4 text-left" style="font-size:18px;">Rojo </p>
        </div>
        <div class="col-xs-12">
             <p class="col-xs-5 text-left" style="font-size:18px;">Fecha de ascenso al rango anterior: </p> 
            <p class="col-xs-4 text-left" style="font-size:18px;">1810 </p>
        </div>
        <div class="col-xs-12">
             <p class="col-xs-5 text-left" style="font-size:18px;">Puntaje: </p> 
            <p class="col-xs-4 text-left" style="font-size:18px;">199 </p>
        </div>
    </div>
    <br />
    <a href="#"><p class="col-xs-12" style="font-size:18px;">Ver más</p></a>
    <br /><br /><br />
    <!-- Premiaciones -->
     <h1 align="left" style="font-size:30px;">Premiaciones</h1> 
    <br />
    <a href="#"><p class="col-xs-12" style="font-size:18px;">Ver más</p></a>    
    <br /><br /><br />
    <!-- Actividades -->
     <h1 align="left" style="font-size:30px;">Actividades</h1> 
    <br />
    <a href="#"><p class="col-xs-12" style="font-size:18px;">Ver más</p></a>
</div>
