{{extend 'layout.html'}}

<div class="container bg-0">
	<b> <div class="text-center" style="font-size:24px;">Registro de Nuevo Usuario</div> </b>
	<br /><br /><br />
	<div class="forms">
		<form action="" method="POST" style="font-size:16px;">
			<b> <div class="text-left" style="font-size:24px;">Datos del Usuario:</div> </b>
			<br />
			Username:<br />
			<input type="text" name="username">
			<br /><br />
			Password:<br />
			<input type="password" name="password">
			<br /><br /><br />
			<b> <div class="text-left" style="font-size:24px;">Datos Personales:</div> </b>
			<br />
			Cédula:
			<input type="number" name="cedula" min="0">
			<br /><br />
			Primer Nombre:
			<input type="text" name="primer_nombre">
			<br /><br />
			Segundo Nombre:
			<input type="text" name="segundo_nombre">
			<br /><br />
			Primer Apellido:
			<input type="text" name="primer_apellido">
			<br /><br />
			Segundo Apellido:
			<input type="text" name="segundo_apellido">
			<br /><br />
			Fecha de Nacimiento:
			<input type="date" name="fecha_nacimiento">
            <br /><br />
            Lugar de Nacimiento:
            <textarea name="lugar_nacimiento" rows="1" cols="20"></textarea>
            <br /><br />
            Género:
            <select name="genero">
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
            </select>
            <br /><br />
            Email Principal:
            <input type="email" name="email_principal">
            <br /><br />
            Estado Civil:
            <select name="estado_civil">
                <option value="soltero">Soltero</option>
            	<option value="casado">Casado</option>
            	<option value="divorciado">Divorciado</option>
            	<option value="Viudo">Viudo</option>
            </select>
            <br /><br /><br />
            <b> <div class="text-left" style="font-size:24px;">Datos Bomberiles:</div> </b>
            <br />
            Carnet:
            <input type="number" min="0" max="9999999" name="carnet">
            <br /><br />
            Tipo de Sangre:
            <select name="tipo_sangre">
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
            </select>
            <br /><br />
            <input type="submit" value="Registrar Usuario" style="background-color:rgb(51,173,255);">
		</form>
	</div>
</div>