{{extend 'layout.html'}}

<div class="container bg-0">
	<h1 class="text-center">Registro de nuevos usuarios</h1>
	<ul class="nav nav-tabs" role="tablist">
	    <li class="nav-item active">
	      <a class="nav-link" data-toggle="tab" href="#paso1" role="tab">Paso 1</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#paso2" role="tab">Paso 2</a>
	    </li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="paso2" role="tabpanel">
	        <div class="forms">
	        	<h3 class="text-left">Datos de bombero</h3>
	        	    {{=formBombero}}
	        </div>
        </div>
    </div>
</div>