{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layoutblocked.html'}}

<div class="container-fluid">
	<h2 align="center">Complete su perfil</h2>
	<p class="col-sm-6 col-sm-offset-3"><strong>Debe llenar todos los campos para poder ingresar al sistema.</strong></p>
	<div class="tab-content">
		<div class=" col-sm-6 col-sm-offset-3 tab-pane fade in active" id="datopersonal" role="tabpanel">
			<div class="forms">
				{{=form}}
			</div>
		</div>
	</div>
</div>