{{extend 'layout.html'}}

{{block head_css}}
<link rel="stylesheet" href="{{=URL('static', 'css/dataTables-1.10.13.min.css')}}">
<link rel="stylesheet" href="{{=URL('static','css/sweetalert.css')}}"/>
{{end}}

{{block head_js}}
<script src="{{=URL('static','js/dataTables-1.10.13.min.js')}}"></script>
<script src="{{=URL('static','js/sweetalert.min.js')}}"></script>
<script src="{{=URL('static','js/th/th.js')}}"></script>
{{end}}

{{block web2py_ajax}}{{end}}

<div class="container-fluid">
    <h1 class="text-center">Deshabilitar/Habilitar usuarios</h1>
    <br /><br />
	<div class="table-responsive"> <!-- Permite la portabilidad de la tabla en dispositivos pequeños -->
		<table class="display buscar-table">
			<thead class="bg-1">
				<tr>
			        <td class="text-center">Carnet</td>
				    <td class="text-center">Cédula</td>
				    <td class="text-center">Nombres</td>
				    <td class="text-center">Apellidos</td>
				    <td class="text-center"></td>
				</tr>
			</thead>
			<tbody>
				{{for row in tabla:}}
				<tr align="center">
				    <td>{{=row.bombero.carnet}}</td>
				    <td>{{=row.persona.nacionalidad}}-{{=row.persona.cedula}}</td>
				    {{if row.persona.segundo_nombre != None:}}
		            <td>{{=row.persona.primer_nombre}} {{=row.persona.segundo_nombre}}</td>
		            {{else:}}
		            <td>{{=row.persona.primer_nombre}}</td>
		            {{pass}}
		            {{if row.persona.segundo_apellido != None:}}
		            <td>{{=row.persona.primer_apellido}} {{=row.persona.segundo_apellido}}</td>
		            {{else:}}
		            <td>{{=row.persona.primer_apellido}}</td>
		            {{pass}}
		            {{	user=db(db.usuario.id==row.bombero.id_usuario).select().first()
		            	
		            	if user.disable:}}
		            <td><button class="btn btn-sm bg-1" href="{{=URL('th','deshabilitarth',args=[str(row.bombero.id)])}}" type="button" id="btn-submit-habilitar"><span>Habilitar</span></button></td>
		            {{else:}}
		            <td><button class="btn btn-sm bg-1" href="{{=URL('th','deshabilitarth',args=[str(row.bombero.id)])}}" type="button" id="btn-submit-deshabilitar"><span>Deshabilitar</span></button></td>
		            {{pass}}
				</tr>
				{{pass}}
			</tbody>
		</table>
	</div>
</div>
