{{extend 'layout.html'}}

{{block head_css}}
<link rel="stylesheet" href="{{=URL('static', 'css/dataTables-1.10.13.min.css')}}">
<link rel="stylesheet" href="{{=URL('static','css/sweetalert.css')}}"/>
{{end}}

{{block head_js}}
<script src="{{=URL('static','js/dataTables-1.10.13.min.js')}}"></script>
<script src="{{=URL('static','js/sweetalert.min.js')}}"></script>
<script src="{{=URL('static','js/th/th.js')}}"></script>
{{end}}

{{block web2py_ajax}}{{end}}

<div class="container-fluid">
	<h1 class="text-center">Gestión de constancias</h1>
	<h2>&emsp;Mi solicitud</h2>
	<br /><br />
	<div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Solicitud de constancia</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
					<tr align="center">
					    <td>{{=usuario.bombero.carnet}}</td>
					    <td>{{=usuario.persona.nacionalidad}}-{{=usuario.persona.cedula}}</td>
					    {{if usuario.persona.segundo_nombre != None:}}
			            <td>{{=usuario.persona.primer_nombre}} {{=usuario.persona.segundo_nombre}}</td>
			            {{else:}}
			            <td>{{=usuario.persona.primer_nombre}}</td>
			            {{pass}}
			            {{if usuario.persona.segundo_apellido != None:}}
			            <td>{{=usuario.persona.primer_apellido}} {{=usuario.persona.segundo_apellido}}</td>
			            {{else:}}
			            <td>{{=usuario.persona.primer_apellido}}</td>
			            {{pass}}
			            {{if no_solicitado:}}
			            <td>No posee solicitud pendiente</td>
			            {{else:}}
			            <td>Solicitud pendiente</td>
			            {{pass}}
					    <td><button class="btn btn-sm bg-1" href="{{=URL('th','gestionarconstancia',args=['solicitar'])}}" type="button" id="btn-submit-solicitar"><span>Solicitar</span></td>
					</tr>
                </table>
            </div>
        </div>
    </div>
	<br /><br />
	{{if auth.has_permission('Gerencia'): }}
	<h2>&emsp;Aprobaciones pendientes</h2>
	<br /><br />
	<div class="table-responsive"> <!-- Permite la portabilidad de la tabla en dispositivos pequeños -->
		<table class="display buscar-table">
			<thead class="bg-1">
				<tr>
					<td class="text-center">Carnet</td>
					<td class="text-center">Cédula</td>
					<td class="text-center">Nombres</td>
					<td class="text-center">Apellidos</td>
					<td class="text-center"></td>
					<td class="text-center"></td>
				</tr>
			</thead>
			<tbody>
				{{for row in tabla:}}
				<tr align="center">
				    <td>{{=row.bombero.carnet}}</td>
				    <td>{{=row.persona.nacionalidad}}-{{=row.persona.cedula}}</td>
				    {{if row.persona.segundo_nombre != None:}}
		            <td>{{=row.persona.primer_nombre}} {{=row.persona.segundo_nombre}}</td>
		            {{else:}}
		            <td>{{=row.persona.primer_nombre}}</td>
		            {{pass}}
		            {{if row.persona.segundo_apellido != None:}}
		            <td>{{=row.persona.primer_apellido}} {{=row.persona.segundo_apellido}}</td>
		            {{else:}}
		            <td>{{=row.persona.primer_apellido}}</td>
		            {{pass}}
				    <td><button class="btn btn-sm bg-1" href="{{=URL('th','gestionarconstancia',args=['aprobar',str(row.bombero.id_usuario)])}}" type="button" id="btn-submit-aprobar"><span>Aprobar</span></td>
				    <td><button class="btn btn-sm bg-1" href="{{=URL('th','gestionarconstancia',args=['cancelar',str(row.bombero.id_usuario)])}}" type="button" id="btn-submit-cancelar"><span>Cancelar</span></td>
				</tr>
				{{pass}}
			</tbody>
		</table>
	</div>
	{{pass}}
</div>