{{extend 'layout.html'}}

<main class="container-fluid">
    <div class="row">
        <!-- Foto del usuario-->
        <div class="col-xs-12 col-sm-6 text-center">
            <!-- Sacar imagen de BD -->
            <img src="{{=URL('static', 'profile-images', args=usuario.persona.imagen)}}" width="200px" height="200px">
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <!-- Nombre del usuario -->
            {{if usuario.persona.segundo_nombre == None and usuario.persona.segundo_apellido == None:}}
            <h1>{{=usuario.persona.primer_nombre}} {{=usuario.persona.primer_apellido}}</h1>
            {{elif usuario.persona.segundo_nombre == None and usuario.persona.segundo_apellido != None:}}
            <h1>{{=usuario.persona.primer_nombre}} {{=usuario.persona.primer_apellido}} {{=usuario.persona.segundo_apellido}}</h1>
            {{elif usuario.persona.segundo_nombre != None and usuario.persona.segundo_apellido == None:}}
            <h1>{{=usuario.persona.primer_nombre}} {{=usuario.persona.segundo_nombre}} {{=usuario.persona.primer_apellido}}</h1>
            {{elif usuario.persona.segundo_nombre != None and usuario.persona.segundo_apellido != None:}}
            <h1>{{=usuario.persona.primer_nombre}} {{=usuario.persona.segundo_nombre}} {{=usuario.persona.primer_apellido}} {{=usuario.persona.segundo_apellido}}</h1>
            {{pass}}
            <br />
            <!-- Cargo dentro de la organizacion | Rango -->
            {{if usuario.bombero.rango:}}
            <h4>{{=usuario.bombero.cargo}} | {{=usuario.bombero.rango}}</h4>
            {{else:}}
            <h4>{{=usuario.bombero.cargo}} | -</h4>
            {{pass}}
        </div>
    </div>
    <br /><br />
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Datos básicos</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td><span style="color:black;" class="glyphicon glyphicon-credit-card"></span>  Cédula:</td>
                        {{if usuario.persona.cedula:}}
                        <td>{{=usuario.persona.nacionalidad}}-{{=usuario.persona.cedula}}</td>
                        {{else:}}
                        <td>-</td>
                        {{pass}}
                    </tr> 
                    <tr>
                        <td><span style="color:black;" class="glyphicon glyphicon-calendar"></span>  Fecha de nacimiento:</td>
                        {{if (usuario.persona.fecha_nacimiento) != None:}}
                        <td>{{=usuario.persona.fecha_nacimiento.strftime("%d/%m/%Y")}}</td>
                        {{else:}}
                        <td>-/-/-</td>
                        {{pass}}
                    </tr>
                    <tr>
                        <td><span style="color:black;" class="glyphicon glyphicon-user"></span>  Sexo:</td>
                        <td>{{=usuario.persona.genero}}</td>
                    </tr>
                    <tr>
                        <td><span style="color:black;" class="glyphicon glyphicon-tint"></span>  Tipo de sangre:</td>
                        {{if usuario.bombero.tipo_sangre != None:}}
                        <td>{{=usuario.bombero.tipo_sangre}}</td>
                        {{else:}}
                        <td>-</td>
                        {{pass}}
                    </tr>
                    <!--
                    <tr>
                        <td>Hijos:</td>
                        <td>{{=usuario.bombero.hijos}}</td>
                    </tr>-->
                </table>
            </div>
        </div>
        </div>

    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Datos de contacto</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <!--
                    <tr>
                        <td>Celular:</td>
                        <td>0416-5316622</td>
                    </tr> 
                    <tr>
                        <td>Casa:</td>
                        <td>0212-4836498</td>
                    </tr>
                    <tr>
                        <td>Trabajo:</td>
                        <td>0212-5559988</td>
                    </tr>-->
                    <tr>
                        <td><span style="color:black;" class="glyphicon glyphicon-envelope"></span>  Email:</td>
                        <td>{{=usuario.persona.email_principal}}</td>
                    </tr>
                    <tr>
                        <td><span style="color:black;" class="glyphicon glyphicon-envelope"></span>  Email alternativo:</td>
                        {{if (usuario.persona.email_alternativo) != None:}}
                        
                        <td>{{=usuario.persona.email_alternativo}}</td>
                        {{else:}}
                        <td>-</td>
                        {{pass}}
                    </tr>
                </table>
            </div>
        </div>
        </div>
    <!--
    <br /><br />
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Datos académicos</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                </table>
            </div>
        </div>
        </div>
    <br /><br />
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Datos de bombero</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                </table>
            </div>
        </div>
        </div>
    <br /><br />
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Ascensos</h4></div>
            <div class="panel-body"></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                </table>
            </div>
            <div class="panel-footer"><a href="#">Ver más</a></div>
    </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Premiaciones</h4></div>
            <table class="table table-bordered">
            </table>
            <div class="panel-footer"><a href="#">Ver más</a></div>
    </div>
    </div>
    <br /><br />
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Actividades</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                </table>
            </div>
            <div class="panel-footer"><a href="#">Ver más</a></div>
    </div>
    </div>
    -->
</main>