{{extend 'layout.html'}}

{{block head_css}}
<link rel="stylesheet" href="{{=URL('static', 'css/dataTables-1.10.13.min.css')}}">
{{end}}

{{block head_js}}
<script src="{{=URL('static','js/dataTables-1.10.13.min.js')}}"></script>
<script src="{{=URL('static','js/th/th.js')}}"></script>
{{end}}

{{block web2py_ajax}}{{end}}

<div class="container-fluid">
	<h1 align="center">Modificar perfil</h1>
	<br/><br/>
	<div class="row">
		<ul class="nav nav-pills col-sm-6 col-sm-offset-3" role="tablist">
		    <li class="nav-item active">
		      <a class="nav-link" data-toggle="tab" href="#datopersonal" role="tab">Datos personales</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" data-toggle="tab" href="#datocontacto" role="tab">Datos de contacto</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" data-toggle="tab" href="#datobombero" role="tab">Datos de bombero</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" data-toggle="tab" href="#datousuario" role="tab">Cambiar contraseña</a>
		    </li>
		</ul>
	</div>
	<br/><br/>
	<div class="tab-content">
		<!-- Datos personales -->
		<div class="col-sm-6 col-sm-offset-3 tab-pane fade in active" id="datopersonal" role="tabpanel">
			<div class="forms">
				{{=formPersona}}
			</div>
		</div>

		<!-- Datos de contacto -->
		<div class="col-sm-6 col-sm-offset-3 tab-pane fade" id="datocontacto" role="tabpanel">
			<form class="form-horizontal" enctype="multipart/form-data" method="POST" id="tlf">
				<div class="form-group" id="no_table_persona_contacto__row">
					<label class="control-label col-sm-3" for="no_table_persona_contacto_nombre">Contacto de Emergencia</label>
					<div class="col-xs-12 col-sm-9 col-sm-offset-3">
						<input type="persona_contacto_nombre" class="form-control string" id="persona_contacto_nombre" placeholder="Nombre Completo...">
					</div>
					<div class="col-xs-12 col-sm-9 col-sm-offset-3">
	                    <div class="col-xs-12 col-sm-4" style="padding-top: 2%;">
		                 	<select id="tipotelefono1" class="form-control string" data-validation="required">
					            <option value="">Tipo</option>
					            <option value="Casa">Casa</option>
					            <option value="Trabajo">Trabajo</option>
					            <option value="Otro">Otro</option>
				            </select>
			            </div>
			            <div class="col-xs-12 col-sm-8" style="padding-top: 2%;">
	                     	<input type="telefono1" class="form-control number" id="telefono1" name="telefono1" placeholder="Teléfono...">
	                    </div>
	                </div>
	                <div class="col-xs-12 col-sm-9 col-sm-offset-3">
	                    <div class="col-xs-12 col-sm-4" style="padding-top: 2%;">
		                 	<select id="tipotelefono2" class="form-control string" data-validation="required">
					            <option value="">Tipo</option>
					            <option value="Casa">Casa</option>
					            <option value="Trabajo">Trabajo</option>
					            <option value="Otro">Otro</option>
				            </select>
			            </div>
			            <div class="col-xs-12 col-sm-8" style="padding-top: 2%;">
	                     	<input type="telefono2" class="form-control number" id="telefono2" placeholder="Teléfono...">
	                    </div>
	                </div>
				</div>
				<div class="form-group" id="tlf1">
                    <label class="control-label col-sm-3" for="tipotlf1">Teléfonos</label>
	                <div class="col-xs-12 col-sm-9 col-sm-offset-3">
	                    <div class="col-xs-12 col-sm-4" style="padding-top: 2%;">
		                 	<select id="tipotlf1" class="form-control" data-validation="required">
					            <option value="">Tipo</option>
					            <option value="Casa">Casa</option>
					            <option value="Trabajo">Trabajo</option>
					            <option value="Otro">Otro</option>
				            </select>
			            </div>
			            <div class="col-xs-12 col-sm-8" style="padding-top: 2%;">
	                     	<input type="tel" class="form-control" id="tel1" data-validation="length" data-validation-length="11" data-validation="number" data-validation-allowing="-+()" placeholder="Teléfono...">
	                    </div>
	                </div>
                </div>
            </form>
            <div class="text-right" style="padding-bottom:3%;">
                <button id="agregartlf1" type="button" class="btn btn-primary agregartlf top-space-separator"><span>Agregar otro teléfono</span></button>
            </div>

            <form class="form-horizontal" enctype="multipart/form-data" method="POST" id="direccion">
				<div class="form-group" id="dir1">
	            	<label class="control-label col-sm-3" for="direccion_tipo1">Dirección</label>
	            	<div class="col-xs-12 col-sm-9 col-sm-offset-3">
	                    <div class="col-xs-12 col-sm-4" style="padding-top: 2%;">
		                   	<select id="direccion_tipo1" class="form-control"  data-validation="string" data-validation="required">
				              <option value="">Tipo</option>
				              <option value="Casa">Casa</option>
				              <option value="Trabajo">Trabajo</option>
				              <option value="Otro">Otro</option>
				        	</select>
			            </div>
			            <div class="col-xs-12 col-sm-8" style="padding-top: 2%;">
	                    	<input type="direccion_ciudad1" class="form-control" id="direccion_ciudad1" data-validation="string" data-validation="required" placeholder="Ciudad...">
	                	</div>
	                </div>
	                <div class="col-xs-12 col-sm-9 col-sm-offset-3" style="padding-top: 2%;">
	                	<input type="direccion_descripcion1" class="form-control" id="direccion_descripcion1" data-validation="string" data-validation="required" placeholder="Descripción...">
	                </div>
	            </div>
            </form>
            <div class="text-right" style="padding-bottom:3%;">
            	<button id="agregardireccion1" type="button" class="btn btn-primary agregardireccion top-space-separator"><span>Agregar otra dirección</span></button>
            </div>
   
            <div class="col-sm-9 col-sm-offset-3" style="padding-top:1%;padding-bottom:3%;">
            	<input class="btn btn-primary" value="Enviar" type="submit">
            </div>
		</div>

		<!-- Datos de bombero -->
		<div class="col-sm-6 col-sm-offset-3 tab-pane fade" id="datobombero" role="tabpanel">
			<form class="form-horizontal" enctype="multipart/form-data" method="post" id="tabla_bombero">
					<div id="no_table_iniciales__row" class="form-group">
						<label if="no_table_iniciales__label" class="control-label col-sm-3" for="no_table_iniciales">Iniciales</label>
						<div class="col-sm-9">
							<input id="no_table_iniciales" class="form-control string" type="text" name="iniciales">
						</div>
					</div>

					<div id="no_table_tipo_sangre__row" class="form-group">
						<label id="no_table_tipo_sangre__label" class="control-label col-sm-3" for="no_table_tipo_sangre">Tipo de Sangre</label>
						<div class="col-sm-9">
							<select id="no_table_tipo_sangre_label" class="generic-widget form-control" name="tipo_sangre">
								<option value=""></option>
								<option value="A+">A+</option>
								<option value="A-">A-</option>
								<option value="B+">B+</option>
								<option value="B-">B-</option>
								<option value="AB+">AB+</option>
								<option value="AB-">AB-</option>
								<option value="O+">O+</option>
								<option value="O-">O-</option>
							</select> 
						</div>
					</div>

					<div id="no_table_rango__row" class="form-group">
						<label id="no_table_rango" class="control-label col-sm-3" for="no_table_rango">Rango *</label>
						<div class="col-sm-9">
							<select id="no_table_rango" class="generic-widget form-control" name="rango">
								<option value=""></option>
								<option value="Alumno">Alumno</option>
								<option value="Bombero">Bombero</option>
								<option value="Distinguido">Distinguido</option>
								<option value="Cabo Segundo">Cabo Segundo</option>
								<option value="Cabo Primero">Cabo Primero</option>
								<option value="Sargento Segundo">Sargento Segundo</option>
								<option value="Sargento Primero">Sargento Primero</option>
								<option value="Sargento Ayudante">Sargento Ayudante</option>
								<option value="Subteniente">Subteniente</option>
								<option value="Teniente">Teniente</option>
								<option value="Capitán">Capitán</option>
								<option value="Mayor">Mayor</option>
							</select>
						</div>
					</div>

					<div id="no_table_cargo__row" class="form-group">
						<label id="no_table_cargo__label" class="control-label col-sm-3" for="no_table_cargo">Cargo que ocupa *</label>
						<div class="col-sm-9">
							<select name="no_table_cargo" id="no_table_cargo" class="generic-widget form-control" name="cargo">
								<option value=""></option>
								<option value="Comandante en Jefe">Comandante en Jefe</option>
								<option value="Primer comandante">Primer Comandante</option>
								<option value="Segundo comandante">Segundo Comandante</option>
								<option value="Inspector">Inspector</option>
								<option value="Gerente de Riesgo">Gerente de Riesgo</option>
								<option value="Gerente de Administración">Gerente de Administración</option>
								<option value="Gerente de Educación">Gerente de Educación</option>
								<option value="Gerente de Operaciones">Gerente de Operaciones</option>
								<option value="Gerente de Talento Humano">Gerente de Talento Humano</option>
								<option value="Sub-Gerente de Riesgo">Sub-Gerente de Riesgo</option>
								<option value="Sub-Gerente de Administración">Sub-Gerente de Administración</option>
								<option value="Sub-Gerente de Educación">Sub-Gerente de Educación</option>
								<option value="Sub-Gerente de Operaciones">Sub-Gerente de Operaciones</option>
								<option value="Sub-Gerente de Talento Humano">Sub-Gerente de Talento Humano</option>
								<option value="Miembro de Riesgo">Miembro de Riesgo</option>
								<option value="Miembro de Administración">Miembro de Administración</option>
								<option value="Miembro de Educación">Miembro de Educación</option>
								<option value="Miembro de Operaciones">Miembro de Operaciones</option>
								<option value="Miembro de Talento Humano">Miembro de Talento Humano</option>
								<option value="Miembro de Comandancia">Miembro de Comandancia</option>
								<option value="Estudiante">Estudiante</option>
							</select>
						</div>
					</div>

				<div class="col-sm-9 col-sm-offset-3" style="padding-top:1%;padding-bottom:3%;">
            		<input class="btn btn-primary" value="Enviar" type="submit">
            	</div>
			</form>
		</div>

		<!-- Cambiar clave -->
		<div class="col-sm-6 col-sm-offset-3 tab-pane fade" id="datousuario" role="tabpanel">
			{{=formUsuario}}
		</div>
		<p class="col-sm-6 col-sm-offset-3">Los campos <strong>(*)</strong> son obligatorios.</p>
	</div>
</div>
