{{extend 'layout.html'}}

<main class="container-fluid">
    <div class="row">
        <!-- Foto del usuario-->
        <div class="col-xs-12 col-sm-6 text-center">
            <!-- Sacar imagen de BD -->
            <img src="{{=URL('static', 'profile-images', args=usuario.persona.imagen)}}" width="200px" height="200px">
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <!-- Nombre del usuario -->
            {{if usuario.persona.segundo_nombre == None and usuario.persona.segundo_apellido == None:}}
            <h1>{{=usuario.persona.primer_nombre}} {{=usuario.persona.primer_apellido}}</h1>
            {{elif usuario.persona.segundo_nombre == None and usuario.persona.segundo_apellido != None:}}
            <h1>{{=usuario.persona.primer_nombre}} {{=usuario.persona.primer_apellido}} {{=usuario.persona.segundo_apellido}}</h1>
            {{elif usuario.persona.segundo_nombre != None and usuario.persona.segundo_apellido == None:}}
            <h1>{{=usuario.persona.primer_nombre}} {{=usuario.persona.segundo_nombre}} {{=usuario.persona.primer_apellido}}</h1>
            {{elif usuario.persona.segundo_nombre != None and usuario.persona.segundo_apellido != None:}}
            <h1>{{=usuario.persona.primer_nombre}} {{=usuario.persona.segundo_nombre}} {{=usuario.persona.primer_apellido}} {{=usuario.persona.segundo_apellido}}</h1>
            {{pass}}
            <br />
            <!-- Cargo dentro de la organizacion | Rango -->
            {{if usuario.bombero.rango:}}
            <h4>{{=usuario.bombero.cargo}} | {{=usuario.bombero.rango}}</h4>
            {{else:}}
            <h4>{{=usuario.bombero.cargo}} | -</h4>
            {{pass}}
        </div>
    </div>
    <br /><br />
    <div class="col-xs-12 col-sm-6">
        <div class="panel-group">
            <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Datos básicos</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td><span style="color:black;" class="glyphicon glyphicon-credit-card"></span>  Cédula:</td>
                        {{if usuario.persona.cedula and usuario.persona.cedula!=-1:}}
                        <td>{{=usuario.persona.nacionalidad}}-{{=usuario.persona.cedula}}</td>
                        {{else:}}
                        <td>-</td>
                        {{pass}}
                    </tr> 
                    <tr>
                        <td><span style="color:black;" class="glyphicon glyphicon-calendar"></span>  Fecha de nacimiento:</td>
                        {{if (usuario.persona.fecha_nacimiento) != None:}}
                        <td>{{=usuario.persona.fecha_nacimiento.strftime("%d/%m/%Y")}}</td>
                        {{else:}}
                        <td>-/-/-</td>
                        {{pass}}
                    </tr>
                    <tr>
                        <td><span style="color:black;" class="glyphicon glyphicon-user"></span>  Sexo:</td>
                        {{if (usuario.persona.genero) != None:}}
                        <td>{{=usuario.persona.genero}}</td>
                        {{else:}}
                        <td>-/-/-</td>
                        {{pass}}
                    </tr>
                    <tr>
                        <td><span style="color:black;" class="glyphicon glyphicon-tint"></span>  Tipo de sangre:</td>
                        {{if usuario.bombero.tipo_sangre != None:}}
                        <td>{{=usuario.bombero.tipo_sangre}}</td>
                        {{else:}}
                        <td>-</td>
                        {{pass}}
                    </tr>
                </table>
            </div>
            </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Datos de bombero</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td><span style="color:black;" class="glyphicon glyphicon-credit-card"></span>  Carnet:</td>
                        {{if usuario.bombero.carnet and usuario.bombero.carnet!=-1:}}
                        <td>{{=usuario.bombero.carnet}}</td>
                        {{else:}}
                        <td>-</td>
                        {{pass}}
                    </tr>
                </table>
            </div>
            </div>
        </div>

    <div class="col-xs-12 col-sm-6">
        <div class="panel-group">
            <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Correo electrónico</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td><span style="color:black;" class="glyphicon glyphicon-envelope"></span>  Email:</td>
                        <td>{{=usuario.persona.email_principal}}</td>
                    </tr>
                    {{if (usuario.persona.email_alternativo) != None:}}
                    <tr>
                        <td><span style="color:black;" class="glyphicon glyphicon-envelope"></span>  Email alternativo:</td>
                        <td>{{=usuario.persona.email_alternativo}}</td>
                    </tr>
                    {{pass}}
                </table>
            </div>
            </div>
            {{if contacto != None:}}
            <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Contacto de Emergencia: {{=contacto.nombre}}</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        {{if contacto.tipo_telefono1 == "Casa":}}
                        <td><span class="glyphicon glyphicon-phone-alt"></span> {{=contacto.tipo_telefono1}}</td>
                        {{elif contacto.tipo_telefono1 == "Móvil" or contacto.tipo_telefono1 == "Otro":}}
                        <td><span class="glyphicon glyphicon-phone"></span> {{=contacto.tipo_telefono1}}</td>
                        {{elif contacto.tipo_telefono1 == "Trabajo":}}
                        <td><span class="glyphicon glyphicon-earphone"></span> {{=contacto.tipo_telefono1}}</td>
                        {{pass}}
                        <td>{{=contacto.codigo_telefono1}}-{{=contacto.numero_telefono1}}</td>
                    </tr>
                    <tr>
                        {{if contacto.tipo_telefono2 == "Casa":}}
                        <td><span class="glyphicon glyphicon-phone-alt"></span> {{=contacto.tipo_telefono2}}</td>
                        {{elif contacto.tipo_telefono2 == "Móvil" or contacto.tipo_telefono2 == "Otro":}}
                        <td><span class="glyphicon glyphicon-phone"></span> {{=contacto.tipo_telefono2}}</td>
                        {{elif contacto.tipo_telefono2 == "Trabajo":}}
                        <td><span class="glyphicon glyphicon-earphone"></span> {{=contacto.tipo_telefono2}}</td>
                        {{pass}}
                        <td>{{=contacto.codigo_telefono2}}-{{=contacto.numero_telefono2}}</td>
                    </tr>
                </table>
            </div>
            </div>
            {{pass}}
            {{if telefono != None:}}
            <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Teléfonos</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    {{for rows in telefono:}}
                    <tr>
                        {{if rows.tipo_telefono == "Casa":}}
                        <td><span class="glyphicon glyphicon-phone-alt"></span> {{=rows.tipo_telefono}}</td>
                        {{elif rows.tipo_telefono == "Móvil" or rows.tipo_telefono == "Otro":}}
                        <td><span class="glyphicon glyphicon-phone"></span> {{=rows.tipo_telefono}}</td>
                        {{elif rows.tipo_telefono == "Trabajo":}}
                        <td><span class="glyphicon glyphicon-earphone"></span> {{=rows.tipo_telefono}}</td>
                        {{pass}}
                        <td>{{=rows.codigo_telefono}}-{{=rows.numero_telefono}}</td>
                    </tr>
                    {{pass}}
                </table>
            </div>
            </div>
            {{pass}}
            {{if direccion != None:}}
            <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Dirección</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    {{for rows in direccion:}}
                    <tr>
                        {{if rows.direccion_tipo == "Casa" or rows.direccion_tipo == "Otro":}}
                        <td><span class="glyphicon glyphicon-home"></span> {{=rows.direccion_tipo}}</td>
                        {{elif rows.direccion_tipo == "Trabajo":}}
                        <td><span class="glyphicon glyphicon-briefcase"></span> {{=rows.direccion_tipo}}</td>
                        {{pass}}
                        <td>{{=rows.direccion_ciudad}}</td>
                        <td>{{=rows.direccion_descripcion}}</td>
                    </tr>
                    {{pass}}
                </table>
            </div>
            </div>
        {{pass}}
        </div>
        </div>
    <br /><br />
    <!--
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Datos académicos</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                </table>
            </div>
        </div>
        </div>
    <br /><br />
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Ascensos</h4></div>
            <div class="panel-body"></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                </table>
            </div>
            <div class="panel-footer"><a href="#">Ver más</a></div>
    </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Premiaciones</h4></div>
            <table class="table table-bordered">
            </table>
            <div class="panel-footer"><a href="#">Ver más</a></div>
    </div>
    </div>
    <br /><br />
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#1565C0;color:white;"><h4>Actividades</h4></div>
            <div class="table-responsive">
                <table class="table table-bordered">
                </table>
            </div>
            <div class="panel-footer"><a href="#">Ver más</a></div>
    </div>
    </div>
    -->
</main>