{{extend 'layout.html'}}

{{block head_css}}
<link rel="stylesheet" href="{{=URL('static', 'css/dataTables-1.10.13.min.css')}}">
<link rel="stylesheet" href="{{=URL('static','css/sweetalert.css')}}"/>
{{end}}

{{block head_js}}
<script src="{{=URL('static','js/dataTables-1.10.13.min.js')}}"></script>
<script src="{{=URL('static','js/sweetalert.min.js')}}"></script>
<script src="{{=URL('static','js/th/th.js')}}"></script>
{{end}}

{{block web2py_ajax}}{{end}}

<div class="container-fluid">
	<h1 align="center">Modificar perfil</h1>
	<br/><br/>
	<div class="row">
		<ul class="nav nav-pills col-sm-6 col-sm-offset-3" role="tablist">
		    <li class="nav-item active">
		      <a class="nav-link" data-toggle="tab" href="#datopersonal" role="tab">Datos personales</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" data-toggle="tab" href="#datocontacto" role="tab">Datos de contacto</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" data-toggle="tab" href="#datobombero" role="tab">Datos de bombero</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" data-toggle="tab" href="#datousuario" role="tab">Cambiar contraseña</a>
		    </li>
		</ul>
	</div>
	<br/><br/>
	<div class="tab-content">
		<div class="col-sm-6 col-sm-offset-3 tab-pane fade in active" id="datopersonal" role="tabpanel">
			<div class="forms">
				{{=formPersona}}
			</div>
		</div>

		<div class="col-sm-6 col-sm-offset-3 tab-pane fade" id="datocontacto" role="tabpanel">
			<div class="form-horizontal" enctype="multipart/form-data" method="POST" id="tlf1">
				<div class="form-group">
                    <label class="control-label col-sm-3">Teléfonos</label>
	                <div class="col-xs-12 col-sm-9 col-sm-offset-3">
	                    <div class="col-xs-12 col-sm-4" style="padding-top: 2%;">
		                 	<select name="tipotlf1-1" class="form-control" data-validation="required">
					            <option value="">Tipo</option>
					            <option value="Casa">Casa</option>
					            <option value="Trabajo">Trabajo</option>
					            <option value="Otro">Otro</option>
				            </select>
			            </div>
			            <div class="col-xs-12 col-sm-8" style="padding-top: 2%;">
	                     	<input type="tel" class="form-control" id="tlf1-1" name="tlf1-1" data-validation="length" data-validation-length="12-20" data-validation="number" data-validation-allowing="-+()" placeholder="Teléfono...">
	                    </div>
	                </div>
                </div>
            </div>
            <div class="text-right" style="padding-bottom:5%;">
                <button id="agregartlf1" type="button" class="btn btn-primary agregartlf top-space-separator"><span>Agregar otro teléfono</span></button>
            </div>

            <div class="form-horizontal" enctype="multipart/form-data" method="POST" id="dir1">
				<div class="form-group">
	            	<label class="control-label col-sm-3" for="direccion_tipo1-1">Dirección</label>
	            	<div class="col-xs-12 col-sm-9 col-sm-offset-3">
	                    <div class="col-xs-12 col-sm-4" style="padding-top: 2%;">
		                   	<select id="direccion_tipo1-1" name="direccion_tipo1-1" class="form-control"  data-validation="string" data-validation="required">
				              <option value="">Tipo</option>
				              <option value="Casa">Casa</option>
				              <option value="Trabajo">Trabajo</option>
				              <option value="Otro">Otro</option>
				        	</select>
			            </div>
			            <div class="col-xs-12 col-sm-8" style="padding-top: 2%;">
	                    	<input type="dir_c" class="form-control" id="direccion_ciudad1-1" name="direccion_ciudad1-1" data-validation="string" data-validation="required" placeholder="Ciudad...">
	                	</div>
	                </div>
	                <div class="col-xs-12 col-sm-9 col-sm-offset-3" style="padding-top: 2%;">
	                	<input type="dir_d" class="form-control" id="direccion_descripcion1-1" name="direccion_descripcion1-1" data-validation="string" data-validation="required" placeholder="Descripción...">
	                </div>
	            </div>
            </div>
            <div class="text-right" style="padding-bottom:5%;">
            	<button id="agregardireccion1" type="button" class="btn btn-primary agregardireccion top-space-separator"><span>Agregar otra dirección</span></button>
            </div>
   
            <div class="col-sm-9 col-sm-offset-3 form-group">
            	<input class="btn btn-primary" value="Enviar" type="submit">
            </div>
		</div>

		<div class="col-sm-6 col-sm-offset-3 tab-pane fade" id="datobombero" role="tabpanel">
			<div class="forms">
				{{=formBombero}}
			</div>
		</div>

		<div class="col-sm-6 col-sm-offset-3 tab-pane fade" id="datousuario" role="tabpanel">
			<div class="forms">
				{{=formUsuario}}
			</div>
		</div>
		<p class="col-sm-6 col-sm-offset-3">Los campos <strong>(*)</strong> son obligatorios.</p>
	</div>
</div>
