/*####################
Global
#####################*/

* {
  font-family: 'Roboto', serif;
  font-size: 10pt;
}

/*####################
Varios
#####################*/

.bottom-space-separator {
  margin-bottom: 1em;
}

.top-space-separator {
  margin-top: 1em;
}

/*####################
Imágenes
#####################*/

.img-center {
  margin:0 auto;
}

/*####################
Barra de navegación
#####################*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar {
  background: black;
  position: relative;
  z-index: 1;
  font-size: 12pt !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border: 0px solid transparent;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.main-nav a{
  font-size: 10pt !important;
}

.navbar li a,   {
  color: white !important;
}

.navbar .navbar-brand {
  color: black !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: white !important;
  background: #1565C0 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: black !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: white;
  background-color: black;
}

/*####################
Varios
#####################*/

/* Fondo blanco con letras negras */
.bg-0 {
  background-color: white;
  color: black;
}

/* Fondo azul con letras blancas */
.bg-1 {
  background-color: #1565C0;
  color: white;
}

/* Fondo gris (gradiente) con letras blancas */
.bg-2 {
  background-image: linear-gradient(180deg, #e0e0e0, white);
  color: white;
}

/* Fondo negro con letras blancas */
.bg-3 {
  background-color: black; /* Green */
  color: white;
}

/* Fondo negro con letras blancas y +*/
.bg-4 {
  background-color: black;
  color: white;
  line-height: 80%;
}

/*####################
Magia para el footer
#####################*/

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

/*####################
Hand pointer (Manito)
#####################*/

.clickeable {
  cursor: pointer;
  cursor: hand;
}

/*####################
Botones
#####################*/

.removeButton {
  background: transparent;
  border: 0px solid transparent;
  color: gray;
  padding: 10px;
}

.removeButton:hover, .removeButton:focus {
  color: red;
}

/*####################
Forms
#####################*/

.form-group.required .control-label:after {
   content:"*";
   color:red;
}

/*####################################
  Letras rojas en errores de SQLFORM
######################################*/

div#username__error.error, div#password__error.error,
div#password_actual__error.error
div#username__error.error, div#password__error.error, 
div#password_again__error.error
{
  color: red;
}

div#first_name__error.error, div#last_name__error.error{
  color: red;
}

div#primer_nombre__error.error, div#segundo_nombre__error.error,
div#primer_apellido__error.error, div#segundo_apellido__error.error,
div#cedula__error.error, div#fecha_nacimiento__error.error,
div#genero__error.error, div#email_principal__error.error,
div#email_alternativo__error.error, div#lugar_nacimiento__error.error,
div#estado_civil__error.error, div#imagen__error.error
{
  color: red;
}

label#usuario_remember_me__label {
  display: none;
}

.selectOption a{
  text-decoration: none;
  color:#1565C0;
  background-color:white;
}

.selectOption div:hover{
  border: 1px solid;
  color:#1565C0;
  border-radius: 10px;
}
