.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  background-color: #33adff;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a,   {
  color: white !important;
}

.navbar .navbar-brand {
  color: black !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: white !important;
  background-color: #33adff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: black !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background-color: black;
}

/* Fondo blanco con letras negras */
.bg-0 {
  background-color: white;
  color: black;
}

/* Fondo azul con letras blancas */
.bg-1 {
  background-color: #33adff;
  color: white;
}

/* Fondo gris (gradiente) con letras blancas */
.bg-2 {
  background-image: linear-gradient(180deg, #e0e0e0, white);
  color: white;
}

/* Fondo negro con letras blancas */
.bg-3 {
  background-color: black; /* Green */
  color: white;
}

/* Fondo negro con letras blancas y +*/
.bg-4 {
  background-color: black;
  color: white;
  line-height: 80%;
}

.container {
  padding: 80px 120px;
}

.carousel {
  width: 100%;
  max-height: 700px;
  min-height: 250px;
}

.carousel .item img {
    width: 100%;
    max-height: 700px;
    min-height: 250px;
}

* {
  font-family: 'Roboto', serif;
  font-size: 12pt;
}

.sizeAdjust img {
  border: 1px solid black;
}