/*####################
Global
#####################*/

* {
  font-family: 'Roboto', serif;
  font-size: 14pt;
}

/*####################
Varios
#####################*/

.bottom-space-separator {
  margin-bottom: 1em;
}

.top-space-separator {
  margin-top: 1em;
}

/*####################
Imágenes
#####################*/

.img-center {
  margin:0 auto;
}

/*####################
Barra de navegación
#####################*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar {
  background: black;
  position: relative;
  z-index: 1;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border: 0px solid transparent;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.nav a{
  font-size: 0.9em !important;
}

.navbar li a,   {
  color: white !important;
}

.navbar .navbar-brand {
  color: black !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: white !important;
  background: #1565C0 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: black !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: white;
  background-color: black;
}

/*####################
Varios
#####################*/

/* Fondo blanco con letras negras */
.bg-0 {
  background-color: white;
  color: black;
}

/* Fondo azul con letras blancas */
.bg-1 {
  background-color: #1565C0;
  color: white;
}

/* Fondo gris (gradiente) con letras blancas */
.bg-2 {
  background-image: linear-gradient(180deg, #e0e0e0, white);
  color: white;
}

/* Fondo negro con letras blancas */
.bg-3 {
  background-color: black; /* Green */
  color: white;
}

/* Fondo negro con letras blancas y +*/
.bg-4 {
  background-color: black;
  color: white;
  line-height: 80%;
}

/*####################
Carousel
#####################*/

.carousel {
  width: 100%;
  max-height: 700px;
  min-height: 250px;
}

.carousel .item img {
  width: 100%;
  max-height: 700px;
  min-height: 250px;
}

/*####################
Iconos de servicios
#####################*/


.wrapper {
  background: #111111;
  display:block;
  width:300px;
  height:300px;

  color:#FFD740;

  line-height: 300px;
  text-align: center;
  border-radius: 20px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper:hover {
  background-color: #000000;
  color:#FF3D00;
  color:#0D47A1; /*elimina esta linea y vive la experiencia naranja*/
}

.text {
  font-family: 'Monoton', cursive;
  font-size: 40px;

  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
/*
ESTO YA NO LO USA EL TEAM PYRONY, HABRA QUE VER SI NO LES JODEMOS NADA A NOS
.services-item{
  margin:0 0 15px;
  right:0;
}

.services-item .services-link{
  display:block;
  position:relative;
  max-width:400px;
  margin:0 auto;
}

.services-item .services-link .caption{
  background:rgba(21, 101, 192, 0.7);
  position:absolute;
  width:100%;
  height:100%;
  opacity:0;
  transition:all ease 0.5s;
  -webkit-transition:all ease 0.5s;
  -moz-transition:all ease 0.5s;
}

.services-item .services-link .caption:hover{
  opacity:1;
}

.services-item .services-link .caption .caption-content{
position:absolute;
width:100%;
height:20px;
font-size:20px;
text-align:center;
top:50%;
margin-top:-12px;
color:white;
}

.services-item .services-link .caption .caption-content i{
margin-top:-12px;
}

.services-item .services-link .caption .caption-content h3, .services-item .services-link .caption .caption-content h4{
margin:0;
}

@media (min-width: 767px) {
.services-item{
margin:0 0 30px;
}
}

.services-modal .modal-content{
border-radius:0;
background-clip:border-box;
-webkit-box-shadow:none;
box-shadow:none;
border:none;
min-height:100%;
padding:100px 0;
text-align:center;
}

.services-modal .modal-content h2{
margin:0;
font-size:3em;
}

.services-modal .modal-content img{
margin-bottom:30px;
}

.services-modal .modal-content .item-details{
margin:30px 0;
}

.services-modal .close-modal{
position:absolute;
width:75px;
height:75px;
background-color:transparent;
top:25px;
right:25px;
cursor:pointer;
}

.services-modal .close-modal:hover{
opacity:0.3;
}

.services-modal .close-modal .lr{
height:75px;
width:1px;
margin-left:35px;
background-color:#2C3E50;
transform:rotate(45deg);
-ms-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
z-index:1051;
}

.services-modal .close-modal .lr .rl{
height:75px;
width:1px;
background-color:#2C3E50;
transform:rotate(90deg);
-ms-transform:rotate(90deg);
-webkit-transform:rotate(90deg);
z-index:1052;
}

.services-modal .modal-backdrop{
opacity:0;
display:none;
}*/

.form-textbox{
  height:200px !important;
  width:450px !important;
  font-size:14px !important;
}

.form-search{
  width:450px !important;
  background-color: #f9f9f9;
}

.card-item{
  margin-bottom:15px;
  border:double;
}

.card-item:hover{
  background:rgba(237,237,237,0.9);
  opacity:.9;
}

.text-on-image {
    background:rgba(22,22,22,0.9);
    color: #fff;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-clip: padding-box;
}