<!DOCTYPE html>
<html lang="es">
 <html class="no-js" lang="{{=T.accepted_language or 'en'}}">
  <head>
    <meta charset="utf-8">                                                                               <!-- Codificación utf-8 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}"> <!-- Compattibilidad con navegadores -->
    <meta name="viewport" content="width=device-width, initial-scale=1">                                 <!-- Responsive :) -->
    <title>{{=response.title or request.application}}</title>                                            <!-- Titulo para el navegador -->
    <meta name="application-name" content="{{=request.application}}">                                    <!-- Meta con el titulo -->
    <meta name="google-site-verification" content="">                                                    <!-- Google aceptanos xD -->
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />       <!-- Importar fuente Roboto -->
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>                           <!-- Importar stylesheet de bootstrap -->
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>                       <!-- Importar stylesheet de bootstrap de web2py -->
    <link rel="stylesheet" href="{{=URL('static','css/custom.css')}}"/>                                  <!-- Importar stylesheet propio -->
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>

    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end}}
    {{# using sidebars need to know what sidebar you want to use
    mc0 = 'col-md-12'
    mc1 = 'col-md-9'
    mc2 = 'col-md-6'
    left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
    right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
    middle_column = {0: mc0, 1: mc1, 2: mc2}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]}}

  </head>

  <body>
    <!-- Barra de navegación -->
   <nav class="navbar navbar-default navbar-fixed-top bg-4" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Banner -->
          <div class="row bg-2">
              <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                <img class="img-responsive" src="{{=URL('static','images/logo-banner-large.png')}}" alt="Banner">
              </div>
            </div>


        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
        otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">About</a></li>
            <li><a href="#">Operaciones</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Talento Humano <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Acción #1</a></li>
                <li><a href="#">Acción #2</a></li>
                <li><a href="#">Acción #3</a></li>
                <li class="divider"></li>
                <li><a href="#">Acción #4</a></li>
                <li class="divider"></li>
                <li><a href="#">Acción #5</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{include}}

    <div class="container-fluid bg-4 text-center">
      <div class="row">
        <br>
        <p><h5>Direccion: Pabellon 1. Apartado 0900. Valle de Sartenejas. Baruta. Edo Miranda<br>
                  Correo electronico: extension.bomberos@usb.ve<br>
                  Telefono: (+58) 212 905-3909<br>
        </h5></p>
        <br>
      </div>
    </div>

    <footer class="footer bg-4">
      <div class="container-fluid">
        <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
          <div id="poweredBy" class="pull-right">
            {{=T('Powered by')}}
            <a href="http://www.web2py.com/">web2py</a>
          </div>
      </div>
    </footer>

    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    {{block page_js}}{{end page_js}}
    {{if response.google_analytics_id:}}

    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">analytics.initialize({'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}});</script>
    {{pass}}
  </body>
</html>
