{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block head_css}}
<link rel="stylesheet" href="{{=URL('static','css/sweetalert.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/bootstrap-datepicker.min.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/jquery.timepicker.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/jquery-ui-1.12.1.css')}}">
{{end}}

{{block web2py_ajax}}{{end}}

<!-- container principal -->
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{{=URL('services','index.html')}}">Servicios</a></li>
    <li class="active">Detalles de servicio</li>
  </ol>

  <!-- Número de servicio -->
  <div id="serviceNumber">
    <h2>Servicio <kbd>{{=service.id}}</kbd></h2>
    <hr>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#basicinfo" role="tab">Info. básica</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#commission" role="tab">Comisiones</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#affected" role="tab">Afectados</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#externalSupport" role="tab">Apoyo externo</a></li>

    <li class="nav-item navbar-right">
      <a href={{=URL('services','exportarServicio', vars=dict(id=service.id))}} role="button">
        Exportar <span class="glyphicon glyphicon-save"></span>
      </a>
    </li>
    {{if not service.aprobado:}}
      <li class="nav-item navbar-right">
        <a href={{=URL('services','editDraft', vars=dict(id=service.id))}} role="button">
          Editar servicio <span class="glyphicon glyphicon-edit"></span>
        </a>
      </li>
    {{pass}}
  </ul>


  <div class="tab-content top-space-separator">
    
    <!-- Tab Información Básica -->
    <div class="tab-pane active" id="basicinfo" role="tabpanel">
      <div class="col-xs-12 col-sm-6">
        <div class="row">

          <div class="col-xs-12 col-sm-12">
            <label for="startDate">Tipo de Servicio</label>
            <p>{{=service.tipo}}</p>
          </div>
       
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <label for="startDate">Fecha de Inicio</label>
            <p>{{=service.fechaCreacion}}</p>
          </div>
          <div class="col-xs-6 col-sm-6">
            <label for="endDate">Hora de Inicio</label>
            <p>{{=service.horaCreacion}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <label for="endDate">Fecha de Fin</label>
              <p>{{=service.fechaFinalizacion}}</p>
          </div>
          <div class="col-xs-6 col-sm-6">
            <label for="endDate">Hora de Fin</label>
              <p>{{=service.horaFinalizacion}}</p>
          </div>
        </div>
      
      </div>
     
      <div class="col-xs-12 col-sm-6">
        <label for="description">Descripción</label>
        <p>{{=service.descripcion}}</p>
        <label for="address">Dirección</label>
        <p>{{=service.localizacion}}</p>
      </div>
    
    </div>

    <!-- Tab Comisiones -->
    <div class="tab-pane fade" id="commission" role="tabpanel">
      {{for comision in comisiones:}}
        <div class="row">
          <div class="col-xs-12">
            <h3>Comisión <kbd>{{=comision["numero"]}}</kbd></h3>
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12 col-sm-4">            
            <label>Jefe de comisión</label>
            <p>{{=comision["jefe"]}}</p>
          </div>
          <div class="col-xs-4 col-sm-4">
            <label>Unidad</label>
            {{if comision["unidad"] is not None:}}
              <p>{{=comision["unidad"]}}</p>
            {{else:}}
              <p>Ninguno</p>
            {{pass}}
          </div>
          <div class="col-xs-8s col-sm-4">
            <label>Conductor</label>
            {{if comision["unidad"] is not None:}}
              <p>{{=comision["conductor"]}}</p>
            {{else:}}
              <p>Ninguno</p>
            {{pass}}
          </div>
        </div>
            
        <div class="row">
          <div class="col-xs-12">
            <label>Acompañantes</label>
            {{if not comision["acompanantes"]:}}
              <p>Ninguno</p>
            {{else:}}
              {{for acompanante in comision["acompanantes"]:}}
                <p>{{=acompanante}}</p>
              {{pass}}
            {{pass}}
          </div>
        </div>
        
        <hr>
      {{pass}}
      </div>


      <!-- Tab Afectados -->
      <div class="tab-pane fade" id="affected" role="tabpanel">
            
        {{for afectado in afectados:}}    
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <h3>Afectado <kbd>{{=afectado["counter"]}}</kbd></h3>
            </div>
          </div>
  
          <div class="row">
            <div class="col-xs-8 col-sm-8">
              <div class="row">
                <div class="col-xs-4 col-sm-4">
                  <label>Primer Nombre</label>
                  <p>{{=afectado["primer_nombre"]}}</p>
                </div>
                <div class="col-xs-4 col-sm-4">
                  <label>Primer Apellido</label>
                  <p>{{=afectado["primer_apellido"]}}</p>
                </div>
                <div class="col-xs-4 col-sm-4">
                  <label>Segundo Apellido</label>
                  <p>{{=afectado["segundo_apellido"]}}</p>
                </div>
              </div>
            
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <label>Cedula</label>
                  <p>{{=afectado["cedula"]}}</p>
                </div>
                <div class="col-xs-6 col-sm-6">
                  <label>Sexo</label>
                  <p>{{=afectado["sexo"]}}</p>
                </div>
              </div>
  
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <label>Tipo</label>
                  <p>{{=afectado["tipo"]}}</p>
                </div>
              </div>
           
              <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <label>Correo Principal</label>
                    <p>{{=afectado["email_principal"]}}</p>
                    <label>Correo Alternativo</label>
                    <p>{{=afectado["email_alternativo"]}}</p>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <label>Teléfonos</label>
                    {{for numero in afectado["numeros"]:}}
                      <p>{{=numero}}</p>
                    {{pass}}
                </div>
              </div>          
            </div>
        
            <div class="col-xs-4 col-sm-4">
              <label>Notas/Tratamiento</label>
              <p>{{=afectado["notastratamiento"]}}</p>
            </div>
          </div>
          <hr>
        {{pass}}
      </div>


    <!-- Tab Apoyo Externo -->
    <div class="tab-pane fade" id="externalSupport" role="tabpanel">
      {{for externo in externos:}}
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="col-xs-12 col-sm-12">
              <h3 id="comisionExtTitle1" name="comisionExtTitle1">Comisión Externa <kbd>{{=externo["counter"]}}</kbd></h3>
              <div class="col-xs-12 col-sm-12">
                <label>Cuerpo o Departamento</label>
                <p>{{=externo["cuerpoDepartamento"]}}</p>
              </div>
              <div class="col-xs-12 col-sm-7">
                <label>Jefe</label>
                <p>{{=externo["jefe"]}}</p>
              </div>
              <div class="col-xs-12 col-sm-5">
                <label>Número de acompañantes</label>
                <p>{{=externo["numAcomp"]}}</p>
              </div>
              <div id="unitExtCNT1">
                <div id="unitExt1-1">
                  <div class="col-xs-6 col-sm-6">
                    <label for="unitExtValue1-1">Unidad</label>
                    <p>{{=externo["unidad"]}}</p>
                  </div>
                  <div class="col-xs-6 col-sm-6">
                    <label for="unitExtValue1-1">Placa Unidad</label>
                    <p>{{=externo["placa"]}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-5 col-sm-offset-1">
            <br />
            <br />
            <br />
            <label>Comentario</label>
            <p>{{=externo["comentario"]}}</p>
          </div>
        </div>
        <hr>
      {{pass}}
    </div>

  </div>


</div>

{{block page_js}}
<!-- Google Maps -->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>-->
{{end}}