{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block head_css}}
<link rel="stylesheet" href="{{=URL('static','css/sweetalert.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/bootstrap-datepicker.min.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/jquery.timepicker.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/services/jquery-ui-1.12.1.css')}}">
{{end}}

{{block web2py_ajax}}{{end}}

<!-- container principal -->
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{{=URL('services','index.html')}}">Servicios</a></li>
    <li class="active">Detalles de servicio</li>
  </ol>

  <!-- Número de servicio -->
  <div id="serviceNumber">
    <h2>Servicio <kbd>{{=service.id}}</kbd></h2>
    <hr>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#basicinfo" role="tab">Info. básica</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#commission" role="tab">Comisiones</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#affected" role="tab">Afectados</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#externalSupport" role="tab">Apoyo externo</a></li>
    {{if service.Borrador and service.Aprueba == None:}}
    <li class="nav-item navbar-right">
      <a href={{=URL('services','editDraft', vars=dict(id=service.id))}} role="button">
        Editar servicio <span class="glyphicon glyphicon-edit"></span>
      </a>
    {{pass}}
  </ul>

  <!-- Tab Información Básica -->
  <div class="tab-content top-space-separator">
    <div class="tab-pane active" id="basicinfo" role="tabpanel">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <label>Tipo de Servicio</label>
            <p>{{=service.tipo}}</p>
          </div>

          <div class="col-xs-12 col-sm-3">
              <label>Fecha/hora de inicio</label>
              <p>{{=service.fechaCreacion}}</p>
          </div>

          <!--
          <label for="stadrtDate">Fecha y hora de llegada</label>
          -->

          <div class="col-xs-12 col-sm-3">
              <label>Fecha/hora de fin</label>
              <p>{{=service.fechaFinalizacion}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <label>Descripción</label>
            <p>{{=service.descripcion}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <label>Dirección</label>
            <p>{{=service.localizacion}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Tab Comisiones -->
    <div class="tab-pane fade" id="commission" role="tabpanel">
      <div><h2>Coming Soon...</h2></div>
    </div>

    <!-- Tab Afectados -->
    <div class="tab-pane fade" id="affected" role="tabpanel">
      <div><h2>Coming Soon...</h2></div>
    </div>

    <!-- Tab Apoyo Externo -->
    <div class="tab-pane fade" id="externalSupport" role="tabpanel">
      <div><h2>Coming Soon...</h2></div>
    </div>
  </div>
</div>