<!DOCTYPE html>
<html class="no-js" lang="{{=T.accepted_language or 'es'}}">
<head>
  <meta charset="utf-8">                                                                               <!-- Codificación utf-8 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}"> <!-- Compattibilidad con navegadores -->
  <meta name="viewport" content="width=device-width, initial-scale=1">                                 <!-- Responsive :) -->
  <title>{{=response.title or request.application}}</title>                                            <!-- Titulo para el navegador -->
  <meta name="application-name" content="{{=request.application}}">                                    <!-- Meta con el titulo -->
  <meta name="google-site-verification" content="">                                                    <!-- Google aceptanos -->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" type="text/css">         <!-- Importar fuente Roboto -->
  {{block head_font}}{{end}}                                                                           <!-- Bloque para agregar fuentes en una vista especifica -->

  <link rel="stylesheet" href="{{=URL('static','css/bootstrap-3.3.5.min.css')}}"/>                     <!-- Importar stylesheet de bootstrap -->
  <link rel="stylesheet" href="{{=URL('static','css/apolo.css')}}"/>                                   <!-- Importar stylesheet propio -->
  {{block head_css}}{{end}}                                                                            <!-- Bloque para agregar estilos en una vista especifica -->

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.png')}}" type="image/x-icon">        <!-- Icono para la pestaña del navegador-->
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">                         <!-- Icono para la pestaña del navegador-->

  <script src="{{=URL('static','js/jquery-3.1.1.min.js')}}"></script>                                  <!-- Libreria Jquery para los scripts-->
  <script src="{{=URL('static','js/bootstrap-3.3.5.min.js')}}"></script>                               <!-- Scripts para el funcionamiento de Bootstrap-->

  <script src="{{=URL('static','js/services/pdfEstadistica.js')}}"></script>
  <script src="{{=URL('static','js/services/html2canvas.min.js')}}"></script>
  <script src="{{=URL('static','js/services/jspdf.min.js')}}"></script>
  {{block head_js}}{{end}}                                                                             <!-- Bloque para agregar scripts en una vista especifica-->
  {{block web2py_ajax}}{{include 'web2py_ajax.html'}}{{end}}                                           <!-- Scripts de web2py -->

  {{# using sidebars need to know what sidebar you want to use
  mc0 = 'col-md-12'
  mc1 = 'col-md-9'
  mc2 = 'col-md-6'
  left_sidebar_enabled = globals().get('left_sidebar_enabled', False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled', False)
  middle_column = {0: mc0, 1: mc1, 2: mc2}[
  (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]}}
</head>
<body>
	<main class="container-fluid" style="margin-right: 17%; margin-left: 17%;" id="constancia">
		<div class="row">
			<div class="col-xs-3">
				<br>
				<img class="img-responsive img-center" align="right" src="{{=URL('static','images/logo-150-100.png')}}" style="width:150px;height:100px;">
			</div>
			<div class="col-xs-6">
				<br>
				<h4 align="center"><strong>UNIVERSIDAD SIMÓN BOLÍVAR<br>CUERPO DE BOMBEROS VOLUNTARIOS<br>FUNDADO EN 1993</strong></h4>
			</div>
			<div class="col-xs-3">
				<img class="img-responsive img-center" align="left" src="{{=URL('static','images/cbvusb_logo_vectorizado-150-150.JPG')}}" style="width:150px;height:150px;">
			</div>
		</div>

		<!-- /////////////////////EMPIEZA LA PARTE DE ESTADISTICAS DE SERVICIOS ////////////////////////////////////////-->
		<h2 align="center"><strong>ESTADÍSTICAS</strong></h2>
		<p align="center"><br> <strong> Servicios realizados durante: &emsp;  </strong>
		{{ if mes != "Todos" :}}
			 {{ = mes}} -
		{{pass}}
		{{ = ano}}
		</p>


		<table align="center">
			<tr>
				<th>Tipo</th>
				<th>Cantidad</th>
			</tr>
		 	<tr><td>Control Médico (CM) </td><td> {{ = estadisticas["CM"]}}</td></tr>
	 		<tr><td>Atención Médica de Emergencia (AME1) &emsp;</td><td> {{ = estadisticas["AME1"]}}</td></tr>
			<tr><td>Atención Médica de Enfermo (AME2)</td><td>  {{ = estadisticas["AME2"]}}</td></tr>
			<tr><td>Incendio de Estructura (IDE) </td><td> {{ = estadisticas["IDE"]}}</td></tr>
			<tr><td>Incendio de Vegetación (IDV) </td><td> {{ = estadisticas["IDV"]}}</td></tr>
			<tr><td>Prevención y Control (PC) </td><td> {{ = estadisticas["PC"]}}</td></tr>
			<tr><td>Apoyo a la Comunidad (AY) </td><td> {{ = estadisticas["AY"]}}</td></tr>
			<tr><td>Maptel (MP) </td><td> {{ = estadisticas["MP"]}} </td></tr>
			<tr><td>Rescate de Personas (RES1) </td><td> {{ = estadisticas["RES1"]}}</td></tr>
			<tr><td>Rescate Animal (RES2) </td><td> {{ = estadisticas["RES2"]}}</td></tr>
			<tr><td>Servicio Especial (SE) </td><td> {{ = estadisticas["SE"]}}</td></tr>
			<tr><td>Guardia de Prevención (GP) </td><td> {{ = estadisticas["GP"]}}</td></tr>
			<tr><td>No se actuó (NSA) </td><td>  {{ = estadisticas["NSA"]}}</td></tr>
			<tr><td>Falsa Alarma (FA) </td><td>  {{ = estadisticas["FA"]}}</td></tr>
		</table>

		<br>
		<p align="center">
		 	<strong>Duración promedio de un servicio: </strong>  {{ = duracionPromedio }} horas <br>
	 		<strong>Tiempo total en servicios: </strong> {{ = duracionTotal }} horas <br>
		</p>



		<!-- ///////////////////////////// TERMINA LA PARTE DE ESTADISTICAS DE SERVICIOS /////////////////////////////-->


		<br>
		<p align="justify" style="color:gray;padding-left:10%;padding-right:10%;font-size:8pt;">Pabellón I, Universidad Simón Bolívar, Valle de Sartenejas, Baruta, Edo. Miranda. Web: http://bomberos.usb.ve. Email: comandancia@bomberos.usb.ve Telf.: + (212) 9063909. Aptdo. 89000, Caracas 1080-A. VENEZUELA.</p>
	</main>
</body>
</html>
