{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block head_js}}
  <script src="{{=URL('static','js/services/rows.js')}}"></script>
{{end}}

<div class="container-fluid">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="row">
      <div class="page-header">
        <h2>Servicios</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <form class="navbar-form navbar-left" style="padding: 2px;" role="search">
          <div class="form-group">
            <input type="search" class="form-search form-control" placeholder="Escribe el nombre de un servicio...">
          </div>
          <button type="submit" class="btn bg-primary"><span class="glyphicon glyphicon-search"></span></button>
        </form>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="box">
      <div class="text-left">
        <a href="{{=URL('services','register.html')}}"> <button type="button" class="btn bg-primary top-space-separator"><span>Registrar Servicio</span></button></a>
        <a href="{{=URL('services','msapproved.html')}}"><button type="button" class="btn bg-primary top-space-separator"><span>Mis registros de servicios</span></button></a>
        <a href="{{=URL('services','aprove.html')}}"><button type="button" class="btn bg-primary top-space-separator"><span>Aprobar Servicios</span></button></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">
        <h3>Últimos servicios aprobados</h3>
        <div class="table-responsive">
          <table class= "table table-striped table-hover">
            <thead class="bg-primary">
              <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Localización</th>
                <th>Inicio</th>
                <th>Fin</th>
              </tr>
            </thead>
            <tbody>
              {{for i in range(len(services)):}}
              {{if i == 10: break}}
              <tr class='clickeable clickable-row' data-href={{=URL('services','displayService', vars=dict(id=services[i].id))}}>
                <td>{{=services[i].id}}</td>
                <td>{{=services[i].tipo}}</td>
                <td>{{=services[i].descripcion}}</td>
                <td>{{=services[i].localizacion}}</td>
                <td>{{=services[i].fechaCreacion}}</td>
                <td>{{=services[i].fechaFinalizacion}}</td>
              </tr>
              {{pass}}
            </tbody>
          </table>
        </div>
        <div class="text-left">
          <a href="{{=URL('services','allservices.html')}}">
            <button type="button" class="btn bg-primary"><small>Ver todos</small></button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>