{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block head_css}}
  <link rel="stylesheet" href="{{=URL('static', 'css/dataTables-1.10.13.min.css')}}"></style>
{{end}}

{{block head_js}}
  <script src="{{=URL('static','js/dataTables-1.10.13.min.js')}}"></script>
  <script src="{{=URL('static','js/services/tables2.js')}}"></script>
  <script src="{{=URL('static','js/services/rows.js')}}"></script>
{{end}}

<div class="container-fluid">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <div class="row">
      <div class="page-header">
        <h2>Servicios</h2>
      </div>
    </div>
    <div class="box">
      <div class="text-left">
        <a href="{{=URL('services','allservices.html')}}"><button type="button" class="btn bg-1 top-space-separator"><span>Ver todos los servicios</span></button></a>
        <a href="{{=URL('services','register.html')}}"> <button type="button" class="btn bg-1 top-space-separator"><span>Registrar servicio</span></button></a>
        <a href="{{=URL('services','myservices.html')}}"><button type="button" class="btn bg-1 top-space-separator"><span>Ver servicios en los que aparezco</span></button></a>
        <a href="{{=URL('services','msapproved.html')}}"><button type="button" class="btn bg-1 top-space-separator"><span>Gestionar mis registros</span></button></a>
        <a href="{{=URL('services','aprove.html')}}"><button type="button" class="btn bg-1 top-space-separator"><span>Aprobar servicios</span></button></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">
        <h3>Servicios recientes</h3>
        <div class="table-responsive">
          <table class= "display service-table">
            <thead class="bg-1">
              <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Localización</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Registra</th>
              </tr>
            </thead>
            <tbody>
              {{for i in range(len(services)):}}
              {{if i == 10: break}}
              <tr class='clickeable clickable-row' data-href={{=URL('services','displayService', vars=dict(id=services[i].id))}}>
                <td>{{=services[i].id}}</td>
                <td>{{=services[i].tipo}}</td>
                <td>{{=services[i].descripcion}}</td>
                <td>{{=services[i].localizacion}}</td>
                <td>{{=services[i].fechaCreacion}}</td>
                <td>{{=services[i].fechaFinalizacion}}</td>
                <td>{{=registran[i]}}</td>
              </tr>
              {{pass}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>