{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<!-- Espacito xD -->
<br /><br /><br /><br /><br /><br /><br /><br />

<!-- Tabla de Servicios -->
<div class="container-fluid">
  <div class="page-header">
    <h1>Servicios</h1>
  </div>

    <ul class="nav nav-pills">
      <li class="active"><a href="{{=URL('services','myservices')}}">Mis servicios</a></li>
      <li><a href="{{=URL('services','services')}}">Todos</a></li>
      <li><a href="{{=URL('services','register')}}">Registrar</a></li>
  </ul>

  <br />

  <div class="col-xs-10">
    <div class="table-responsive">
      <table class= "table table-hover">
        <tr>
          <th>Tipo</th>
          <th>Descripción</th>
          <th>Localización</th>
          <th>Inicio</th>
          <th>Fin</th>
        </tr>
        <tr>
          <td>Materiales Peligrosos</td>
          <td>Derrame de sustancias tóxicas en entrada de laboratorio.</td>
          <td>USB, Edificio QYP, piso 2, Lab 3A.</td>
          <td>08:30 14/01/17</td>
          <td>12:30 14/01/17</td>
          <td><a class="glyphicon glyphicon-remove" style="color:red" href="https://www.google.com/"></a></td>
        </tr>
        <tr>
          <td>Atención Prehospitalaria</td>
          <td>Deportista se deslocó la rodilla en entrenamiento de basket.</td>
          <td>USB, cancha de basket.</td>
          <td>10:05 14/01/17</td>
          <td>12:55 14/01/17</td>
          <td><a class="glyphicon glyphicon-remove" style="color:red" href="https://www.google.com/"></a></td>
        </tr>
        <tr>
        <tr>
          <td>Rescate</td>
          <td>Búho desorientado en salón de clases.</td>
          <td>USB, ENE, aula 110.</td>
          <td>16:10 15/01/17</td>
          <td>16:55 15/01/17</td>
          <td><a class="glyphicon glyphicon-remove" style="color:red" href="https://www.google.com/"></a></td>
        </tr>
        <tr>
          <td>Incendio</td>
          <td>Indencio de vehículo en estacionamiento.</td>
          <td>USB, estacionamiento de DACE.</td>
          <td>20:30 11/01/17</td>
          <td>23:25 11/01/17</td>
          <td><a class="glyphicon glyphicon-remove" style="color:red" href="https://www.google.com/"></a></td>
        </tr>
      </table>
    </div>
  </div>

  <ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>
