{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<!-- Espacito xD -->
<br /><br /><br /><br /><br /><br /><br /><br />

<!-- Tabla de Servicios -->
<div class="container-fluid">
  <div class="page-header">
    <h1>Servicios</h1>
  </div>

    <ul class="nav nav-pills">
      <li class="active"><a href="{{=URL('services','register')}}">Registrar</a></li>
      <li><a href="{{=URL('services','services')}}">Todo</a></li>
      <li><a href="{{=URL('services','myservices')}}">Mi servicios</a></li>
  </ul>

  <br />

  <div class="col-md-12">
    <div class="col-md-3 col-md-offset-3">
      <p>Tipo de servicio</p>
      <p>Fecha de Inicio</p>
      <p>Fecha de Llegada</p>
      <p>Fecha de Regreso </p>
    </div>
    <div class="col-md-3">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">none </button>
        <ul role="menu" class="dropdown-menu">
          <li role="presentation"><a href="#">Incendio y prevención</a></li>
          <li role="presentation"><a href="#">Rescate</a></li>
          <li role="presentation"><a href="#">Materiales Peligrosos</a></li>
          <li role="presentation"><a href="#">Atención Prehospitalaria</a></li>
        </ul>
      </div>
      <input type="datetime-local" />
      <input type="datetime-local" />
      <input type="datetime-local" />
    </div>
    <div class="col-md-6 col-md-offset-3">
      <p class="text-center"><strong>Descripcion del Servicio</strong></p>
      <input type="text" maxlength="1000" class="input-lg form-textbox" />
    </div>
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center"><strong>Jefe </strong></p>
        </div>
        <div class="col-md-6">
          <div class="container-fluid"><img src="{{=URL('static','images/apolo.png')}}" class="img-responsive" /></div>
        </div>
        <div class="col-md-6">
          <div class="container-fluid">
            <p>Juan Ortiz</p>
            <p>20 Años</p>
            <p>Hombre </p>
            <p>CI: 24 796 589</p>
            <p>(+58) 426 584 4155</p>
            <p>Caracas, Venezuela</p>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-default" type="button">Selecionar </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center"><strong>Integrantes </strong></p>
        </div>
        <div class="col-md-6">
          <div class="container-fluid"><img src="{{=URL('static','images/apolo.png')}}" class="img-responsive" /></div>
        </div>
        <div class="col-md-6">
          <div class="container-fluid">
            <p>Jose Acevedo</p>
            <p>21 Años</p>
            <p>Hombre </p>
            <p>CI: 24 345 501</p>
            <p>(+58) 424 584 4155</p>
            <p>Ciudad Bolívar, Venezuela</p>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-default" type="button">Selecionar </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="container-fluid"><img src="{{=URL('static','images/apolo.png')}}" class="img-responsive" /></div>
        </div>
        <div class="col-md-6">
          <div class="container-fluid">
            <p>Carlos Serrada</p>
            <p>32 Años</p>
            <p>Hombre </p>
            <p>CI: 23 103 382</p>
            <p>(+58) 416 302 4662</p>
            <p>Charallave, Venezuela</p>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-default" type="button">Selecionar </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="container-fluid"><img src="{{=URL('static','images/apolo.png')}}" class="img-responsive" /></div>
        </div>
        <div class="col-md-6">
          <div class="container-fluid">
            <p>Pablo Betancourt</p>
            <p>25 Años</p>
            <p>Hombre </p>
            <p>CI: 24 577 342</p>
            <p>(+58) 426 800 9223</p>
            <p>Caracas, Venezuela</p>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-default" type="button">Selecionar </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="container-fluid"><img src="{{=URL('static','images/apolo.png')}}" class="img-responsive" /></div>
        </div>
        <div class="col-md-6">
          <div class="container-fluid">
            <p>Jonathan Reyes</p>
            <p>20 Años</p>
            <p>Hombre </p>
            <p>CI: 24 209 636</p>
            <p>(+58) 426 584 4155</p>
            <p>Maracay, Venezuela</p>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-default" type="button">Selecionar </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="container-fluid"><img src="{{=URL('static','images/apolo.png')}}" class="img-responsive" /></div>
        </div>
        <div class="col-md-6">
          <div class="container-fluid">
            <p>Irina Marcano</p>
            <p>23 Años</p>
            <p>Mujer </p>
            <p>CI: 24 356 523</p>
            <p>(+58) 424 145 4573</p>
            <p>Caracas, Venezuela</p>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-default" type="button">Selecionar </button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-3">
      <p>Unidad </p>
    </div>
    <div class="col-md-3">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">none </button>
        <ul role="menu" class="dropdown-menu">
          <li role="presentation"><a href="#">First Item</a></li>
          <li role="presentation"><a href="#">Second Item</a></li>
          <li role="presentation"><a href="#">Third Item</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <p><strong>Conductor </strong></p>
      <div class="row">
        <div class="col-md-6">
          <div class="container-fluid"><img src="{{=URL('static','images/apolo.png')}}" class="img-responsive" /></div>
        </div>
        <div class="col-md-6">
          <div class="container-fluid">
            <p>Mathias San Miguel</p>
            <p>16 Años</p>
            <p>Hombre </p>
            <p>CI: 25 341 206</p>
            <p>(+58) 426 211 0870</p>
            <p>Caracas, Venezuela</p>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-default" type="button">Selecionar </button>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-md-offset-0">
      <button class="btn btn-default" type="submit">Finalizar </button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="span8">
      <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>

