{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block head_css}}
<link rel="stylesheet" href="{{=URL('static', 'css/sweetalert.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/bootstrap-datepicker.min.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/jquery.timepicker.css')}}"/>
<link rel="stylesheet" href="{{=URL('static', 'css/services/jquery-ui-1.12.1.css')}}">
{{end}}

{{block web2py_ajax}}{{end}}

<!-- container principal -->
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{{=URL('services','index.html')}}">Servicios</a></li>
    <li class="active">Registrar Servicio</li>
  </ol>

  <!-- Número de servicio -->
  <div id="serviceNumber">
    <h2>Servicio <kbd>{{=nuevoServicioId}}</kbd></h2>
    <hr>
  </div>

  <!-- Formulario -->
  <form action="" method="POST" id="registro" onsubmit="return validateForm()">

    <input type="hidden" name="id" value="{{=nuevoServicioId}}">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a class="nav-link" data-toggle="tab" href="#basicinfo" role="tab">Info. básica</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#commission" role="tab">Comisiones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#affected" role="tab">Afectados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#externalSupport" role="tab">Apoyo externo</a>
      </li>
      <li class="nav-item navbar-right">
        <button id="btn-submit" type="button" class="btn  custom-button">Enviar</button>
      </li>
      <li class="nav-item navbar-right">
        <button formnovalidate class="btn  custom-button" type="submit" onclick="saveDraft()" name="draft" value="true">
          Guardar borrador
          <span class="glyphicon glyphicon-save"></span>
        </button>
      </li>
      <li class="nav-item navbar-right">
        <button type="button" class="btn  custom-button"><span>Cancelar registro</span></button>
      </li>
    </ul>

    <!-- Tab Información Básica -->
    <div class="tab-content top-space-separator">
      <div class="tab-pane active" id="basicinfo" role="tabpanel">

        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="form-group">
                <label for="startDate">Tipo de Servicio *</label>
                <select name="tipo" class="form-control" data-validation="required">
                  <option value="">Seleccionar</option>
                  <option value="CM">CM</option>
                  <option value="AME1">AME1</option>
                  <option value="AME2">AME2</option>
                  <option value="IDE">IDE</option>
                  <option value="IDV">IDV</option>
                  <option value="PC">PC</option>
                  <option value="AY">AY</option>
                  <option value="MP">MP</option>
                  <option value="RES1">RES1</option>
                  <option value="RES2">RES2</option>
                  <option value="SE">SE</option>
                  <option value="GP">GP</option>
                  <option value="NSA">NSA: No se actuó</option>
                  <option value="FA">FA: Falsa Alarma</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group" id="jqueryExample">
            <div class="row">

              <div class="col-xs-12 col-sm-12">
                <label for="startDate">Fecha de Inicio *
                  <input type="text" class="date start form-control" id="startDate" name="fechaCreacion" placeholder="introduzca una fecha"/>
                </label>
                <label for="endDate">Hora de Inicio *
                  <input type="text" class="time start form-control" id="startTime" name="horaCreacion" data-validation="required" placeholder="introduzca una hora"/>
                </label>

              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <label for="endDate">Fecha de Fin *
                  <input type="text" class="date end form-control " id="endDate" name="fechaFinalizacion" placeholder="introduzca una fecha"/>
                </label>
                <label for="endDate">Hora de Fin *
                  <input type="text" class="time end form-control" id="endTime" name="horaFinalizacion" placeholder="introduzca una hora"/>
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="col-xs-12 col-sm-6">

          <div class="form-group">
            <label for="description">Descripción *</label>
            <textarea id="description" class="form-control" rows="5" name="descripcion" data-validation="required"></textarea>
          </div>

          <div class="form-group">
            <label for="address">Dirección *</label>
            <textarea id="address" class="form-control" rows="2" name="localizacion" data-validation="required"></textarea>
          </div>

          <!--  <div class="form-group">
          <label for="location">Ubicación en el mapa</label>
          <div class="container-fluid">
          <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
        </div>
      </div>-->
    </div>
  </div>

  <!-- Tab Comisiones -->
  <div class="tab-pane fade" id="commission" role="tabpanel">

    <div id="comissionsCNT">
      <div id="comission1">
        <div class="row">
          <div class="col-xs-12">
            <h3 id="comissionTitle1" name="comissionTitle1">Comisión <kbd>1</kbd></h3>
            <input type="hidden" name="comissionTitle1" value="comissionTitle1">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="form-group ui-widget">
              <label for="commissionBoss1">Jefe de comisión *</label>
              <input list="commissionBoss1" name="commissionBoss1" class="form-control" data-validation="required" placeholder="Jefe de Comisión">
              <datalist id="commissionBoss1">
                {{for nombre in nombreBomberos:}}
                <option value="{{=nombre}}">
                  {{pass}}
                </datalist>

              </div>
              <label for="unitTitle">Unidades</label>
              <div class="row">
                <div id="unitsCNT1">
                  <div id="unit1-1">
                    <div class="col-xs-4 col-sm-2">
                      <select id="unitValue1-1" class="form-control" name="unitValue1-1">
                        <option value="" selected="selected">--</option>
                        {{for unidad in nombreUnidades:}}
                        <option value="{{=unidad}}">{{=unidad}}</option>
                        {{pass}}
                      </select>
                    </div>
                    <div class="col-xs-8 col-sm-10">

                      <input list="comissionDriver1-1" name="comissionDriver1-1" class="form-control" placeholder="Conductor">
                      <datalist id="comissionDriver1-1">
                        {{for nombre in nombreBomberos:}}
                        <option value="{{=nombre}}">
                          {{pass}}
                        </datalist>

                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 text-right">
                    <button id="addUnit1" type="button" class="btn  custom-button addUnit top-space-separator">
                      <small>Añadir unidad <span class="glyphicon glyphicon-wrench"></span></small>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <div id="comissionMembersCNT1">
                  <label for="comissionMember1-1">Acompañantes</label>

                  <input list="comissionMember1-1" name="comissionMember1-1" class="form-control" placeholder="Acompañante de Comisión">
                  <datalist id="comissionMember1-1">
                    {{for nombre in nombreBomberos:}}
                    <option value="{{=nombre}}">
                      {{pass}}
                    </datalist>

                    <input list="comissionMember1-2" name="comissionMember1-2" class="form-control" placeholder="Acompañante de Comisión">
                    <datalist id="comissionMember1-2">
                      {{for nombre in nombreBomberos:}}
                      <option value="{{=nombre}}">
                        {{pass}}
                      </datalist>

                      <input list="comissionMember1-3" name="comissionMember1-3" class="form-control" placeholder="Acompañante de Comisión">
                      <datalist id="comissionMember1-3">
                        {{for nombre in nombreBomberos:}}
                        <option value="{{=nombre}}">
                          {{pass}}
                        </datalist>

                      </div>
                      <div class="text-right">
                        <button id="addComissionMember1" type="button" class="btn  custom-button addComissionMember top-space-separator addComissionMember">
                          <small>Añadir acompañante <span class="glyphicon glyphicon-user"></span></small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>

              <div class="text-center">
                <button id="addComission" type="button" class="btn  custom-button">
                  Añadir otro
                  <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
              </div>

            </div>

            <!-- Tab Afectados -->
            <div class="tab-pane fade" id="affected" role="tabpanel">
              <div id="affectedCNT">
                <div id="affected1">
                  <div class="row">

                    <div class="col-xs-12 col-sm-6">
                      <div class="row">
                        <div class="col-xs-12 col-sm-12">
                          <h3>Afectado <kbd>1</kbd></h3>
                          <input type="hidden" name="affectedTitle1" value="affectedTitle1">
                          <label>Nombre *</label>
                        </div>

                        <div class="col-xs-6 col-sm-4 form-group">
                          <input type="text" class="form-control" id="affectedFirstName1" name="affectedFirstName1" data-validation="required" placeholder="Primer Nombre *">
                        </div>
                        <!--<div class="col-xs-6 col-sm-2 form-group">
                        <label for="affected1" class="sr-only"><small>2do Nombre</small></label>
                        <input type="text" class="form-control" id="affectedSecondName1" name="affectedSecondName1" placeholder="Segundo Nombre">
                      </div>-->
                      <div class="col-xs-6 col-sm-4 form-group">
                        <!--  <label for="affected2" class="sr-only">1er Apellido</label>-->
                        <input type="text" class="form-control" id="affectedFirstSurname1" name="affectedFirstSurname1" data-validation="required" placeholder="Primer Apellido *">
                      </div>
                      <div class="col-xs-6 col-sm-4 form-group">
                        <label for="affectedName3" class="sr-only"><small>2do Apellido</small></label>
                        <input type="text" class="form-control" id="affectedSecondSurname1" name="affectedSecondSurname1" placeholder="Segundo Apellido">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-sm-4 form-group">
                        <label for="affectedCI1">Cedula *</label>
                        <input type="text" class="form-control" id="affectedCI1" name="affectedCI1" data-validation="required" data-validation="number" placeholder="Número de Cedula">
                      </div>

                      <div class="col-xs-4 col-sm-2">
                        <div class="form-group">
                          <label for="affectedGender1">Sexo *</label>
                          <select class="form-control" id="affectedGender1" data-validation="required" name="affectedGender1">
                            <option value="?" selected="selected">?</option>
                            <option value="F">F</option>
                            <option value="M">M</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-sm-6 form-group">
                        <label for="affectedType1">Tipo *</label>
                        <select class="form-control" id="affectedType1" name="affectedType1" data-validation="required">
                          <option value="" selected="selected">Seleccione tipo de afectado</option>
                          <option value="1">Estudiante de la USB</option>
                          <option value="2">Profesor de la USB</option>
                          <option value="3">Empleado de la USB</option>
                          <option value="4">Obrero de la USB</option>
                          <option value="5">Externo</option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-sm-6">
                        <div id="emailsCNT1">
                          <label for="emailsTitle">Correos Electrónicos</label>
                          <input type="email" class="form-control" id="affectedEmail1-1" name="affectedEmail1-1" data-validation="email" placeholder="mail@website.com">
                        </div>
                        <div class="text-right">
                          <button id="addAffectedEmail1" type="button" class="btn  addAffectedEmail top-space-separator">+ <span class="glyphicon glyphicon-envelope"></span></button>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        <div id="phonesCNT1">
                          <label for="phonesTitle">Teléfonos</label>
                          <input type="tel" class="form-control" id="affectedPhone1-1" name="affectedPhone1-1" data-validation="length" data-validation-length="12-20" data-validation="number" data-validation-allowing="-+()" placeholder="Teléfono/Celular">
                        </div>
                        <div class="text-right">
                          <button id="addAffectedPhone1" type="button" class="btn  addAffectedPhone top-space-separator">+ <span class="glyphicon glyphicon-earphone"></span></button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                    <br />
                    <br />
                    <br />
                    <label>Notas/Tratamiento</label>
                    <div class="form-group">
                      <textarea id="affectedNotes1" name="affectedNotes1" class="form-control" data-validation="length" data-validation-length="max700" rows="10"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>

            <div class="text-center">
              <button id="addAffected" type="button" class="btn  custom-button">
                Añadir otro
                <span class="glyphicon glyphicon-plus-sign"></span>
              </button>
            </div>
          </div>

          <!-- Tab Apoyo Externo -->
          <div class="tab-pane fade" id="externalSupport" role="tabpanel">
            <div class="row">
              <div id="comExtCNT">
                <div class="col-xs-12 col-sm-6">
                  <div id="comisionExt1" class="col-xs-12 col-sm-12">
                    <h3 id="comisionExtTitle1" name="comisionExtTitle1">Comisión Externa <kbd>1</kbd></h3>
                    <input type="hidden" name="comisionExtTitle1" value="comisionExtTitle1">

                    <div class="form-group ui-widget col-xs-12 col-sm-12">
                      <label for="cuerpoDepartamento1">Cuerpo o Departamento</label>
                      <input id="cuerpoDepartamento1" type="text" class="form-control" placeholder="Nombre del Departamento" name="cuerpoDepartamento1">
                    </div>

                    <div class="form-group ui-widget col-xs-12 col-sm-7">
                      <label for="jefe1">Jefe</label>
                      <input id="jefe1" type="text" class="form-control" placeholder="Nombre" name="jefe1">
                    </div>

                    <div class="col-xs-12 col-sm-5">
                      <label for="cuerpoDepartamento1">Número de acompañantes</label>
                      <input id="numAcomp1" type="text" class="form-control" data-validation="length" data-validation-length="max4" data-validation="number" placeholder="Número" name="numAcomp1">
                    </div>
                    <div id="unitExtCNT1">
                      <div id="unitExt1-1">
                        <div class="col-xs-6 col-sm-6">
                          <label for="unitExtValue1-1">Unidades</label>
                          <input id="unitExtValue1-1" type="text" class="form-control" placeholder="Unidad" name="unitExtValue1-1">
                        </div>
                        <div class="col-xs-6 col-sm-6">
                          <label for="unitExtValue1-1">Placa Unidad</label>
                          <input id="unitExtPlaca1-1" type="text" class="form-control col-xs-6" placeholder="Conductor" name="unitExtPlaca1-1">
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 text-right">
                      <button id="addUnitExt1" type="button" class="btn  custom-button addUnitExt top-space-separator">
                        <small>Añadir unidad externa<span class="glyphicon glyphicon-wrench"></span></small>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-5 col-sm-offset-1">
                  <br />
                  <br />
                  <br />
                  <label>Comentario</label>
                  <div class="form-group">
                    <textarea id="affectedNotes1" name="affectedNotes1" class="form-control" data-validation="length" data-validation-length="max 600" rows="9"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <hr>

            <div class="text-center">
              <button id="addApoyoExt" type="button" class="btn  custom-button">
                Añadir otro
                <span class="glyphicon glyphicon-plus-sign"></span>
              </button>
            </div>
          </div>
        </div>
      </form>

      <!-- Google Maps -->
      <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>-->

      {{block page_js}}
      <script src="{{=URL('static', 'js/services/jquery-1.12.4.js')}}"></script>
      <script src="{{=URL('static', 'js/services/jquery-ui-1.12.1.min.js')}}"></script>
      <script>
      {{=ASSIGNJS(nombres = nombreBomberos)}}
      </script>
      <script src="{{=URL('static','js/services/register.js')}}"></script>         <!-- Script para form de registro de servicio -->
      <script src="{{=URL('static','js/custom.js')}}"></script>
      <script src="{{=URL('static','js/sweetalert.min.js')}}"></script>
      <script src="{{=URL('static','js/bootstrap-datepicker.min.js')}}"></script>
      <script src="{{=URL('static','js/jquery.timepicker.min.js')}}"></script>
      <script src="{{=URL('static','js/jquery.datepair.min.js')}}"></script>
      <script src="{{=URL('static','js/jquery.form-validator.min.js')}}"></script>
      <script>
      $.validate({
        form : '#registro',
        lang: 'es',
        modules : 'html5'
      });
      </script>
      {{end}}
