{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<!-- container principal -->
<div class="container-fluid">
  <!-- Espacito xD -->
  <div class="container-fluid">
    <br /><br /><br /><br /><br /><br /><br /><br />
  <div>

  <!-- Título -->
  <div class="page-header">
    <h1>Registrar servicio</h1>
  </div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#basicinfo" role="tab">Información básica</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#commission" role="tab">Comisiones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#affected" role="tab">Afectados</a>
    </li>
  </ul>

  <!-- Tab Información Básica -->
  <div class="tab-content">
    <div class="tab-pane active" id="basicinfo" role="tabpanel">
        <form role="form">
          <div class="form-group">
            <label for="startDate">Fecha de inicio</label>
            <input type="text" class="form-control" id="startDate"
                   placeholder="HH:MM">
          </div>
          <div class="form-group">
            <label for="startTime">Hora de inicio</label>
            <input type="text" class="form-control" id="startTime"
                   placeholder="HH:MM">
          </div>
          <div class="form-group">
            <label for="startDate">Fecha de llegada</label>
            <input type="email" class="form-control" id="startDate"
                   placeholder="dd/mm/yyyy">
          </div>
          <div class="form-group">
            <label for="startTime">Hora de llegada</label>
            <input type="text" class="form-control" id="startTime"
                   placeholder="HH:MM">
          </div>
          <div class="form-group">
            <label for="startDate">Fecha de regreso</label>
            <input type="email" class="form-control" id="startDate"
                   placeholder="dd/mm/yyyy">
          </div>
          <div class="form-group">
            <label for="startTime">Hora de regreso</label>
            <input type="text" class="form-control" id="startTime"
                   placeholder="HH:MM">
          </div>
          <div class="form-group">
              <label for="description">Descripción</label>
              <textarea id="description" class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group">
              <label for="address">Dirección</label>
              <textarea id="address" class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="location">Ubicación en el mapa</label>
            <div class="container-fluid">
              <div class="span8">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Tab Comisiones -->
      <div class="tab-pane" id="commission" role="tabpanel">
        <form role="form">
          <div class="form-group">
            <label for="commissionBoss">Jefe de comisión</label>
            <input type="text" class="form-control" id="commissionBoss"
                   placeholder="">
          </div>
          <div class="form-group">
            <label for="commissionUnit">Unidad</label>
            <input type="password" class="form-control" id="commissionUnit"
                   placeholder="">
          </div>
          <div class="form-group">
            <label for="commissionOther">Acompañante</label>
            <input type="text" class="form-control" id="commissionOther"
                   placeholder="">
          </div>
        </form>
      </div>

      <!-- Tab Afectados -->
      <div class="tab-pane" id="affected" role="tabpanel">
        <form role="form">
          <div class="form-group">
            <label for="affectedCI">Cédula</label>
            <input type="number" class="form-control" id="affectedCI"
                   placeholder="">
          </div>
          <div class="form-group">
            <label for="affected0">Primer nombre</label>
            <input type="password" class="form-control" id="affected1"
                   placeholder="">
          </div>
          <div class="form-group">
            <label for="affected1">Segundo nombre</label>
            <input type="email" class="form-control" id="affected2"
                   placeholder="Introduce tu email">
          </div>
          <div class="form-group">
            <label for="affected2">Primer apellido</label>
            <input type="password" class="form-control" id="affected2"
                   placeholder="">
          </div>
          <div class="form-group">
            <label for="affectedName3">Segundo apellido</label>
            <input type="email" class="form-control" id="affectedName3"
                   placeholder="">
          </div>
          <div class="form-group">
            <label for="affectedGender">Sexo</label>
            <input type="password" class="form-control" id="affectedGender"
                   placeholder="">
          </div>
                  <div class="form-group">
            <label for="affectedEmail">Correo electrónico</label>
            <input type="email" class="form-control" id="affectedEmail"
                   placeholder="">
          </div>
          <div class="form-group">
            <label for="affectedPhone">Teléfono</label>
            <input type="email" class="form-control" id="affectedPhone"
                   placeholder="">
          </div>
          <div class="form-group">
              <label for="affectedNotes">Notas/Tratamiento</label>
              <textarea id="affectedNotes" class="form-control" rows="3"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Enviar</button>
</div>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>