{{left_sidebar_enabled,right_sidebar_enabled=False,('`sage' in globals())}}
{{extend 'layout.html'}}

{{block head_css}}
<link rel="stylesheet" href="{{=URL('static','css/sweetalert.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/estadisticas.css')}}"/>
{{end}}

{{block web2py_ajax}}{{end}}

<div class="container">
  <ol class="breadcrumb">
    <li><a href="{{=URL('services','stadistics.html')}}">Estadísticas</a></li>
    <!--<li class="active">Algun comentario</li>-->
  </ol>

  <div class="row">
  <h3>Resumen de servicios</h3>

  <div class="row">
    <form class="form-horizontal">
      <input id="exportar" type="hidden" name="exportar" value="False">
      <div class="col-sm-10">
        <div class="form-group">
          <label class="control-label col-sm-2" for="mes">Mes</label>
          <div class="col-sm-2">
            <select id="mes" name="mes" class="form-control">
              <option value="0" selected="selected">Todos</option>
              <option value="1">Enero</option>
              <option value="2">Febrero</option>
              <option value="3">Marzo</option>
              <option value="4">Abril</option>
              <option value="5">Mayo</option>
              <option value="6">Junio</option>
              <option value="7">Julio</option>
              <option value="8">Agosto</option>
              <option value="9">Septiembre</option>
              <option value="10">Octubre</option>
              <option value="11">Noviembre</option>
              <option value="12">Diciembre</option>
            </select>
          </div>
          <label class="control-label col-sm-2" for="ano">Año</label>
          <div class="col-sm-2">
            <select id="ano" name="ano" class="form-control"></select>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-default">Ver</button>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn bg-1" onclick="exportarEstadistica()" target="_blank">
          <span>Exportar</span>
          <span class="glyphicon glyphicon-save"></span>
        </button>
      </div>
    </form>
  </div>
  </div>

  <hr>

  <div class='col-md-3 col-sm-12'>
    <div class="table-responsive">
      <table class= "table table-striped table-hover" id="chartData">
        <thead class="bg-1">
        </thead>
        <tbody>
          <tr>
            <th>Servicio</th>
            <th>Cantidad  </th>
            {{for tipo in estadisticas:}}
              <tr data-toggle="tooltip" data-placement="bottom" title={{=tipo}}>
                <td>{{=tipo}}</td>
                <td>{{=estadisticas[tipo]}}</td>
              </tr>
            {{pass}}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
  <canvas id="chart" width="420" height="380"></canvas>
  </div>

  <div class='col-md-4 col-sm-12'>
    <p><strong>Duración promedio de un servicio:</strong> {{=duracionPromedio}} horas</p>
    <p><strong>Tiempo total en servicios:</strong> {{=duracionTotal}} horas</p>
  </div>

  <div class='col-md-4 col-sm-12 col-md-offset-1' style="margin-top:-380px">
    <label>Leyenda</label>
    <p><strong>CM:</strong> Control médico</p>
    <p><strong>AME1:</strong> Atención médica de emergencia</p>
    <p><strong>AME2:</strong> Atención médica de enfermo</p>
    <p><strong>IDE:</strong> Incendio de estructura</p>
    <p><strong>IDV:</strong> Incendio de vegetación</p>
    <p><strong>PC:</strong> Prevención de control</p>
    <p><strong>AY:</strong> Apoyo a la comunidad</p>
    <p><strong>MP:</strong> Matpel</p>
    <p><strong>RES1:</strong> Rescate de personas</p>
    <p><strong>RES2:</strong> Rescate animal</p>
    <p><strong>SE:</strong> Servicio Especial</p>
    <p><strong>GP:</strong> Guardia de prevención</p>
    <p><strong>NSA:</strong> No se actuó</p>
    <p><strong>FA:</strong> Falsa alarma</p>
  </div>
</div>


{{block page_js}}
<script>{{=ASSIGNJS(mesS = mes)}}</script>
<script>{{=ASSIGNJS(anoS = ano)}}</script>
<script src="{{=URL('static','js/services/estadisticas.js')}}"></script>               <!-- Script para listado de anos -->
<script src="{{=URL('static','js/sweetalert.min.js')}}"></script>               <!-- Script para mensajes de alerta -->
<script src="{{=URL('static','js/estadisticas.js')}}"></script>               <!-- Script para mensajes de alerta -->
<!--[if IE]>
<script src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script>
<![endif]-->
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

<!-- Google Maps -->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>-->
{{end}}
